/* line 4, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/base */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 10, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/base */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

/* line 17, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/base */
img {
  max-width: 100%;
  height: auto; }

/*
	GRUPOS Y CAJAS
	==============
	Los grupos son contenedores para las cajas.
	Las cajas crean las divisiones en el grupo (columnas)
*/
/* line 7, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
.grupo {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  width: 100%; }
  /* line 13, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .grupo.total {
    max-width: 100% !important; }
  /* line 18, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .grupo:before, .grupo:after {
    content: "";
    display: table;
    width: 100%;
    clear: both; }
  /* line 25, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .grupo .caja {
    float: left;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%; }
    /* line 32, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
    .grupo .caja:last-child {
      float: right; }
  /* line 37, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .grupo .caja.total {
    float: none;
    display: table; }
    /* line 42, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
    .grupo .caja.total:before, .grupo .caja.total:after {
      content: "";
      display: table;
      width: 100%;
      clear: both; }

/*base: A partir de 320px*/
@media all and (min-width: 320px) {
  /*Tamaños en porcentajes*/
  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-5, .grupo .caja.base-5 {
    width: 5%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-10, .grupo .caja.base-10 {
    width: 10%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-15, .grupo .caja.base-15 {
    width: 15%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-20, .grupo .caja.base-20 {
    width: 20%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-25, .grupo .caja.base-25 {
    width: 25%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-30, .grupo .caja.base-30 {
    width: 30%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-35, .grupo .caja.base-35 {
    width: 35%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-40, .grupo .caja.base-40 {
    width: 40%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-45, .grupo .caja.base-45 {
    width: 45%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-50, .grupo .caja.base-50 {
    width: 50%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-55, .grupo .caja.base-55 {
    width: 55%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-60, .grupo .caja.base-60 {
    width: 60%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-65, .grupo .caja.base-65 {
    width: 65%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-70, .grupo .caja.base-70 {
    width: 70%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-75, .grupo .caja.base-75 {
    width: 75%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-80, .grupo .caja.base-80 {
    width: 80%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-85, .grupo .caja.base-85 {
    width: 85%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-90, .grupo .caja.base-90 {
    width: 90%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-95, .grupo .caja.base-95 {
    width: 95%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-100, .grupo .caja.base-100 {
    width: 100%; }

  /*Tamaño en fracciones*/
  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-1-3, .grupo .caja.base-1-3 {
    width: 33.333333333%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-2-3, .grupo .caja.base-2-3 {
    width: 66.666666667%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-3-3, .grupo .caja.base-3-3 {
    width: 100%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-1-6, .grupo .caja.base-1-6 {
    width: 16.666666667%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-2-6, .grupo .caja.base-2-6 {
    width: 33.333333333%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-3-6, .grupo .caja.base-3-6 {
    width: 50%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-4-6, .grupo .caja.base-4-6 {
    width: 66.666666667%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-5-6, .grupo .caja.base-5-6 {
    width: 83.333333333%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-6-6, .grupo .caja.base-6-6 {
    width: 100%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-1-8, .grupo .caja.base-1-8 {
    width: 12.5%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-2-8, .grupo .caja.base-2-8 {
    width: 25%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-3-8, .grupo .caja.base-3-8 {
    width: 37.5%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-4-8, .grupo .caja.base-4-8 {
    width: 50%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-5-8, .grupo .caja.base-5-8 {
    width: 62.5%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-6-8, .grupo .caja.base-6-8 {
    width: 75%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-7-8, .grupo .caja.base-7-8 {
    width: 87.5%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .base-8-8, .grupo .caja.base-8-8 {
    width: 100%; }
 }

/*movil: A partir de 480px*/
@media all and (min-width: 480px) {
  /*Tamaños en porcentajes*/
  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-5, .grupo .caja.movil-5 {
    width: 5%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-10, .grupo .caja.movil-10 {
    width: 10%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-15, .grupo .caja.movil-15 {
    width: 15%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-20, .grupo .caja.movil-20 {
    width: 20%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-25, .grupo .caja.movil-25 {
    width: 25%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-30, .grupo .caja.movil-30 {
    width: 30%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-35, .grupo .caja.movil-35 {
    width: 35%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-40, .grupo .caja.movil-40 {
    width: 40%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-45, .grupo .caja.movil-45 {
    width: 45%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-50, .grupo .caja.movil-50 {
    width: 50%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-55, .grupo .caja.movil-55 {
    width: 55%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-60, .grupo .caja.movil-60 {
    width: 60%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-65, .grupo .caja.movil-65 {
    width: 65%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-70, .grupo .caja.movil-70 {
    width: 70%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-75, .grupo .caja.movil-75 {
    width: 75%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-80, .grupo .caja.movil-80 {
    width: 80%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-85, .grupo .caja.movil-85 {
    width: 85%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-90, .grupo .caja.movil-90 {
    width: 90%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-95, .grupo .caja.movil-95 {
    width: 95%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-100, .grupo .caja.movil-100 {
    width: 100%; }

  /*Tamaño en fracciones*/
  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-1-3, .grupo .caja.movil-1-3 {
    width: 33.333333333%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-2-3, .grupo .caja.movil-2-3 {
    width: 66.666666667%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-3-3, .grupo .caja.movil-3-3 {
    width: 100%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-1-6, .grupo .caja.movil-1-6 {
    width: 16.666666667%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-2-6, .grupo .caja.movil-2-6 {
    width: 33.333333333%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-3-6, .grupo .caja.movil-3-6 {
    width: 50%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-4-6, .grupo .caja.movil-4-6 {
    width: 66.666666667%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-5-6, .grupo .caja.movil-5-6 {
    width: 83.333333333%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-6-6, .grupo .caja.movil-6-6 {
    width: 100%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-1-8, .grupo .caja.movil-1-8 {
    width: 12.5%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-2-8, .grupo .caja.movil-2-8 {
    width: 25%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-3-8, .grupo .caja.movil-3-8 {
    width: 37.5%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-4-8, .grupo .caja.movil-4-8 {
    width: 50%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-5-8, .grupo .caja.movil-5-8 {
    width: 62.5%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-6-8, .grupo .caja.movil-6-8 {
    width: 75%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-7-8, .grupo .caja.movil-7-8 {
    width: 87.5%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .movil-8-8, .grupo .caja.movil-8-8 {
    width: 100%; }
 }

/*tablet: A partir de 768px*/
@media all and (min-width: 768px) {
  /*Tamaños en porcentajes*/
  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-5, .grupo .caja.tablet-5 {
    width: 5%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-10, .grupo .caja.tablet-10 {
    width: 10%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-15, .grupo .caja.tablet-15 {
    width: 15%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-20, .grupo .caja.tablet-20 {
    width: 20%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-25, .grupo .caja.tablet-25 {
    width: 25%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-30, .grupo .caja.tablet-30 {
    width: 30%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-35, .grupo .caja.tablet-35 {
    width: 35%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-40, .grupo .caja.tablet-40 {
    width: 40%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-45, .grupo .caja.tablet-45 {
    width: 45%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-50, .grupo .caja.tablet-50 {
    width: 50%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-55, .grupo .caja.tablet-55 {
    width: 55%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-60, .grupo .caja.tablet-60 {
    width: 60%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-65, .grupo .caja.tablet-65 {
    width: 65%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-70, .grupo .caja.tablet-70 {
    width: 70%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-75, .grupo .caja.tablet-75 {
    width: 75%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-80, .grupo .caja.tablet-80 {
    width: 80%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-85, .grupo .caja.tablet-85 {
    width: 85%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-90, .grupo .caja.tablet-90 {
    width: 90%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-95, .grupo .caja.tablet-95 {
    width: 95%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-100, .grupo .caja.tablet-100 {
    width: 100%; }

  /*Tamaño en fracciones*/
  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-1-3, .grupo .caja.tablet-1-3 {
    width: 33.333333333%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-2-3, .grupo .caja.tablet-2-3 {
    width: 66.666666667%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-3-3, .grupo .caja.tablet-3-3 {
    width: 100%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-1-6, .grupo .caja.tablet-1-6 {
    width: 16.666666667%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-2-6, .grupo .caja.tablet-2-6 {
    width: 33.333333333%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-3-6, .grupo .caja.tablet-3-6 {
    width: 50%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-4-6, .grupo .caja.tablet-4-6 {
    width: 66.666666667%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-5-6, .grupo .caja.tablet-5-6 {
    width: 83.333333333%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-6-6, .grupo .caja.tablet-6-6 {
    width: 100%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-1-8, .grupo .caja.tablet-1-8 {
    width: 12.5%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-2-8, .grupo .caja.tablet-2-8 {
    width: 25%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-3-8, .grupo .caja.tablet-3-8 {
    width: 37.5%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-4-8, .grupo .caja.tablet-4-8 {
    width: 50%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-5-8, .grupo .caja.tablet-5-8 {
    width: 62.5%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-6-8, .grupo .caja.tablet-6-8 {
    width: 75%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-7-8, .grupo .caja.tablet-7-8 {
    width: 87.5%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .tablet-8-8, .grupo .caja.tablet-8-8 {
    width: 100%; }
 }

/*web: A partir de 1025px*/
@media all and (min-width: 1025px) {
  /*Tamaños en porcentajes*/
  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-5, .grupo .caja.web-5 {
    width: 5%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-10, .grupo .caja.web-10 {
    width: 10%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-15, .grupo .caja.web-15 {
    width: 15%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-20, .grupo .caja.web-20 {
    width: 20%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-25, .grupo .caja.web-25 {
    width: 25%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-30, .grupo .caja.web-30 {
    width: 30%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-35, .grupo .caja.web-35 {
    width: 35%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-40, .grupo .caja.web-40 {
    width: 40%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-45, .grupo .caja.web-45 {
    width: 45%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-50, .grupo .caja.web-50 {
    width: 50%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-55, .grupo .caja.web-55 {
    width: 55%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-60, .grupo .caja.web-60 {
    width: 60%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-65, .grupo .caja.web-65 {
    width: 65%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-70, .grupo .caja.web-70 {
    width: 70%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-75, .grupo .caja.web-75 {
    width: 75%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-80, .grupo .caja.web-80 {
    width: 80%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-85, .grupo .caja.web-85 {
    width: 85%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-90, .grupo .caja.web-90 {
    width: 90%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-95, .grupo .caja.web-95 {
    width: 95%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-100, .grupo .caja.web-100 {
    width: 100%; }

  /*Tamaño en fracciones*/
  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-1-3, .grupo .caja.web-1-3 {
    width: 33.333333333%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-2-3, .grupo .caja.web-2-3 {
    width: 66.666666667%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-3-3, .grupo .caja.web-3-3 {
    width: 100%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-1-6, .grupo .caja.web-1-6 {
    width: 16.666666667%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-2-6, .grupo .caja.web-2-6 {
    width: 33.333333333%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-3-6, .grupo .caja.web-3-6 {
    width: 50%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-4-6, .grupo .caja.web-4-6 {
    width: 66.666666667%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-5-6, .grupo .caja.web-5-6 {
    width: 83.333333333%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-6-6, .grupo .caja.web-6-6 {
    width: 100%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-1-8, .grupo .caja.web-1-8 {
    width: 12.5%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-2-8, .grupo .caja.web-2-8 {
    width: 25%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-3-8, .grupo .caja.web-3-8 {
    width: 37.5%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-4-8, .grupo .caja.web-4-8 {
    width: 50%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-5-8, .grupo .caja.web-5-8 {
    width: 62.5%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-6-8, .grupo .caja.web-6-8 {
    width: 75%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-7-8, .grupo .caja.web-7-8 {
    width: 87.5%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .web-8-8, .grupo .caja.web-8-8 {
    width: 100%; }
 }

/*hd: A partir de 1400px*/
@media all and (min-width: 1400px) {
  /*Tamaños en porcentajes*/
  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-5, .grupo .caja.hd-5 {
    width: 5%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-10, .grupo .caja.hd-10 {
    width: 10%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-15, .grupo .caja.hd-15 {
    width: 15%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-20, .grupo .caja.hd-20 {
    width: 20%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-25, .grupo .caja.hd-25 {
    width: 25%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-30, .grupo .caja.hd-30 {
    width: 30%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-35, .grupo .caja.hd-35 {
    width: 35%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-40, .grupo .caja.hd-40 {
    width: 40%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-45, .grupo .caja.hd-45 {
    width: 45%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-50, .grupo .caja.hd-50 {
    width: 50%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-55, .grupo .caja.hd-55 {
    width: 55%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-60, .grupo .caja.hd-60 {
    width: 60%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-65, .grupo .caja.hd-65 {
    width: 65%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-70, .grupo .caja.hd-70 {
    width: 70%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-75, .grupo .caja.hd-75 {
    width: 75%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-80, .grupo .caja.hd-80 {
    width: 80%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-85, .grupo .caja.hd-85 {
    width: 85%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-90, .grupo .caja.hd-90 {
    width: 90%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-95, .grupo .caja.hd-95 {
    width: 95%; }

  /* line 58, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-100, .grupo .caja.hd-100 {
    width: 100%; }

  /*Tamaño en fracciones*/
  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-1-3, .grupo .caja.hd-1-3 {
    width: 33.333333333%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-2-3, .grupo .caja.hd-2-3 {
    width: 66.666666667%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-3-3, .grupo .caja.hd-3-3 {
    width: 100%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-1-6, .grupo .caja.hd-1-6 {
    width: 16.666666667%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-2-6, .grupo .caja.hd-2-6 {
    width: 33.333333333%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-3-6, .grupo .caja.hd-3-6 {
    width: 50%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-4-6, .grupo .caja.hd-4-6 {
    width: 66.666666667%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-5-6, .grupo .caja.hd-5-6 {
    width: 83.333333333%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-6-6, .grupo .caja.hd-6-6 {
    width: 100%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-1-8, .grupo .caja.hd-1-8 {
    width: 12.5%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-2-8, .grupo .caja.hd-2-8 {
    width: 25%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-3-8, .grupo .caja.hd-3-8 {
    width: 37.5%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-4-8, .grupo .caja.hd-4-8 {
    width: 50%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-5-8, .grupo .caja.hd-5-8 {
    width: 62.5%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-6-8, .grupo .caja.hd-6-8 {
    width: 75%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-7-8, .grupo .caja.hd-7-8 {
    width: 87.5%; }

  /* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/nucleo */
  .hd-8-8, .grupo .caja.hd-8-8 {
    width: 100%; }
 }

@media all and (min-width: 320px) {
  /* line 4, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
  .grupo.base-tabla {
    display: table; }
    /* line 7, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
    .grupo.base-tabla > .caja {
      float: none;
      display: table-cell; }
    /* line 12, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
    .grupo.base-tabla.medio > .caja {
      vertical-align: middle; }
    /* line 16, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
    .grupo.base-tabla.arriba > .caja {
      vertical-align: top; }
    /* line 20, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
    .grupo.base-tabla.abajo > .caja {
      vertical-align: bottom; }
 }

@media all and (min-width: 480px) {
  /* line 4, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
  .grupo.movil-tabla {
    display: table; }
    /* line 7, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
    .grupo.movil-tabla > .caja {
      float: none;
      display: table-cell; }
    /* line 12, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
    .grupo.movil-tabla.medio > .caja {
      vertical-align: middle; }
    /* line 16, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
    .grupo.movil-tabla.arriba > .caja {
      vertical-align: top; }
    /* line 20, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
    .grupo.movil-tabla.abajo > .caja {
      vertical-align: bottom; }
 }

@media all and (min-width: 768px) {
  /* line 4, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
  .grupo.tablet-tabla {
    display: table; }
    /* line 7, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
    .grupo.tablet-tabla > .caja {
      float: none;
      display: table-cell; }
    /* line 12, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
    .grupo.tablet-tabla.medio > .caja {
      vertical-align: middle; }
    /* line 16, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
    .grupo.tablet-tabla.arriba > .caja {
      vertical-align: top; }
    /* line 20, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
    .grupo.tablet-tabla.abajo > .caja {
      vertical-align: bottom; }
 }

@media all and (min-width: 1025px) {
  /* line 4, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
  .grupo.web-tabla {
    display: table; }
    /* line 7, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
    .grupo.web-tabla > .caja {
      float: none;
      display: table-cell; }
    /* line 12, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
    .grupo.web-tabla.medio > .caja {
      vertical-align: middle; }
    /* line 16, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
    .grupo.web-tabla.arriba > .caja {
      vertical-align: top; }
    /* line 20, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
    .grupo.web-tabla.abajo > .caja {
      vertical-align: bottom; }
 }

@media all and (min-width: 1400px) {
  /* line 4, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
  .grupo.hd-tabla {
    display: table; }
    /* line 7, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
    .grupo.hd-tabla > .caja {
      float: none;
      display: table-cell; }
    /* line 12, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
    .grupo.hd-tabla.medio > .caja {
      vertical-align: middle; }
    /* line 16, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
    .grupo.hd-tabla.arriba > .caja {
      vertical-align: top; }
    /* line 20, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
    .grupo.hd-tabla.abajo > .caja {
      vertical-align: bottom; }
 }

/* line 27, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
.caja.medio {
  vertical-align: middle; }

/* line 31, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
.caja.arriba {
  vertical-align: top; }

/* line 35, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/tabla */
.caja.abajo {
  vertical-align: bottom; }

/* 	ESTILOS PARA DESARROLLO
	========================
	Añada la clase "desarrollo"
   	a body para tener ayudas al trabajar con ED GRID 
*/
/* line 7, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/desarrollo */
body.desarrollo {
  padding: 0 !important;
  margin: 0 !important; }
  /* line 10, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/desarrollo */
  body.desarrollo:before {
    background: steelblue;
    /*Azul Escuela Digital*/
    color: #fff;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    display: block;
    height: 36px;
    margin-bottom: 30px;
    position: relative;
    z-index: 900; }
  /* line 30, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/desarrollo */
  body.desarrollo .grupo {
    padding-top: 22px;
    margin-bottom: 10px;
    outline: 1px solid tomato; }
    /* line 37, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/desarrollo */
    body.desarrollo .grupo .caja {
      position: relative;
      padding-bottom: 22px; }
      /* line 43, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/desarrollo */
      body.desarrollo .grupo .caja:nth-child(even) {
        background: rgba(70, 130, 180, 0.2); }
    /* line 47, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/desarrollo */
    body.desarrollo .grupo .grupo {
      margin-bottom: 0; }

/* line 55, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/desarrollo */
.desarrollo .grupo .caja:after, .desarrollo .grupo:before {
  content: attr(class);
  font-style: italic;
  font-size: 12px;
  font-weight: normal;
  padding: 0 5px;
  z-index: 1;
  bottom: 0;
  right: 0;
  position: absolute;
  display: table;
  width: 100%;
  height: 22px;
  line-height: 22px; }

/* line 74, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/desarrollo */
.desarrollo .grupo:before {
  background: rgba(255, 99, 71, 0.3);
  color: tomato;
  top: 0;
  left: 0;
  width: 100%; }

/* line 82, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/desarrollo */
.desarrollo .caja:after {
  background: rgba(70, 130, 180, 0.2);
  color: steelblue; }

/* line 87, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/desarrollo */
.desarrollo .caja.total:after {
  background: rgba(27, 50, 70, 0.3); }

/* line 92, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/desarrollo */
body.desarrollo:before {
  content: "ED-GRID: Tamaño base"; }

@media screen and (min-width: 320px) {
  /* line 100, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/desarrollo */
  body.desarrollo:before {
    content: "ED-GRID: Tamaño base, a partir de 320px"; }
 }

@media screen and (min-width: 480px) {
  /* line 100, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/desarrollo */
  body.desarrollo:before {
    content: "ED-GRID: Tamaño movil, a partir de 480px"; }
 }

@media screen and (min-width: 768px) {
  /* line 100, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/desarrollo */
  body.desarrollo:before {
    content: "ED-GRID: Tamaño tablet, a partir de 768px"; }
 }

@media screen and (min-width: 1025px) {
  /* line 100, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/desarrollo */
  body.desarrollo:before {
    content: "ED-GRID: Tamaño web, a partir de 1025px"; }
 }

@media screen and (min-width: 1400px) {
  /* line 100, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/desarrollo */
  body.desarrollo:before {
    content: "ED-GRID: Tamaño hd, a partir de 1400px"; }
 }

/* line 107, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/desarrollo */
.grupo.demostrar {
  outline: 1px solid tomato;
  margin: 1em auto; }
  /* line 110, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/desarrollo */
  .grupo.demostrar > .caja {
    background: #eee;
    box-shadow: 0 0 0 1px steelblue;
    padding-top: 1em;
    padding-bottom: 1em; }
    /* line 115, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/desarrollo */
    .grupo.demostrar > .caja p {
      margin-bottom: 0; }
    /* line 118, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/desarrollo */
    .grupo.demostrar > .caja:nth-child(odd) {
      background: #ddd; }
    /* line 121, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/desarrollo */
    .grupo.demostrar > .caja.total {
      background: #fff; }

@media screen and (max-width: 319px) {
  /* line 6, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/visibilidad */
  .desde-base {
    display: none; }
 }

@media screen and (min-width: 320px) {
  /* line 11, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/visibilidad */
  .desde-base {
    display: block; }
 }

@media screen and (max-width: 479px) {
  /* line 6, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/visibilidad */
  .desde-movil {
    display: none; }
 }

@media screen and (min-width: 480px) {
  /* line 11, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/visibilidad */
  .desde-movil {
    display: block; }
 }

@media screen and (max-width: 767px) {
  /* line 6, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/visibilidad */
  .desde-tablet {
    display: none; }
 }

@media screen and (min-width: 768px) {
  /* line 11, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/visibilidad */
  .desde-tablet {
    display: block; }
 }

@media screen and (max-width: 1024px) {
  /* line 6, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/visibilidad */
  .desde-web {
    display: none; }
 }

@media screen and (min-width: 1025px) {
  /* line 11, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/visibilidad */
  .desde-web {
    display: block; }
 }

@media screen and (max-width: 1399px) {
  /* line 6, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/visibilidad */
  .desde-hd {
    display: none; }
 }

@media screen and (min-width: 1400px) {
  /* line 11, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/visibilidad */
  .desde-hd {
    display: block; }
 }

@media screen and (max-width: 319px) {
  /* line 20, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/visibilidad */
  .hasta-base {
    display: block; }
 }

@media screen and (min-width: 320px) {
  /* line 25, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/visibilidad */
  .hasta-base {
    display: none; }
 }

@media screen and (max-width: 479px) {
  /* line 20, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/visibilidad */
  .hasta-movil {
    display: block; }
 }

@media screen and (min-width: 480px) {
  /* line 25, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/visibilidad */
  .hasta-movil {
    display: none; }
 }

@media screen and (max-width: 767px) {
  /* line 20, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/visibilidad */
  .hasta-tablet {
    display: block; }
 }

@media screen and (min-width: 768px) {
  /* line 25, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/visibilidad */
  .hasta-tablet {
    display: none; }
 }

@media screen and (max-width: 1024px) {
  /* line 20, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/visibilidad */
  .hasta-web {
    display: block; }
 }

@media screen and (min-width: 1025px) {
  /* line 25, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/visibilidad */
  .hasta-web {
    display: none; }
 }

@media screen and (max-width: 1399px) {
  /* line 20, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/visibilidad */
  .hasta-hd {
    display: block; }
 }

@media screen and (min-width: 1400px) {
  /* line 25, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/visibilidad */
  .hasta-hd {
    display: none; }
 }

/*
	ESTILOS DE LAYOUT
	==================
*/
/* line 5, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/utilidades */
.centro {
  display: block;
  clear: both;
  float: none !important;
  margin-right: auto !important;
  margin-left: auto !important; }

/* line 13, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/utilidades */
.left, .izquierda {
  float: left; }

/* line 17, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/utilidades */
.right, .derecha {
  float: right; }

/* line 21, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/utilidades */
.total {
  width: 100%;
  clear: both; }

/* line 27, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/utilidades */
.centrar-texto, .centrar-contenido {
  text-align: center; }

/* line 32, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/utilidades */
.izquierda-texto, .izquierda-contenido {
  text-align: left; }

/* line 37, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/utilidades */
.derecha-texto, .derecha-contenido {
  text-align: right; }

/* line 41, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/utilidades */
.circulo {
  border-radius: 50%; }

/* line 46, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/utilidades */
.limpiar:before, .limpiar:after {
  content: "";
  display: table;
  width: 100%;
  clear: both; }

/* 	NO PADDING
	===========
	class="no-padding" al grupo, le da padding cero a todas sus cajas.
	class="no-padding" a la caja le da padding cero solo a ella
*/
/* line 60, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/utilidades */
.no-padding.grupo > .caja, .caja.no-padding {
  padding: 0 !important; }

/* Controlar el padding*/
/* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/utilidades */
.padding {
  padding-left: 15px;
  padding-right: 15px; }

/* line 70, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/utilidades */
.padding-2 {
  padding-left: 30px;
  padding-right: 30px; }

/* line 74, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/utilidades */
.padding-3 {
  padding-left: 45px;
  padding-right: 45px; }

/* line 2, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/video */
.ed-video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative; }
  /* line 10, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/video */
  .ed-video > iframe, .ed-video > object, .ed-video > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

@font-face {
  font-family: "ed-grid";
  src: url("../fonts/ed-grid.eot");
  src: url("../fonts/ed-grid.eot?#iefix") format("embedded-opentype"), url("../fonts/ed-grid.woff") format("woff"), url("../fonts/ed-grid.ttf") format("truetype"), url("../fonts/ed-grid.svg#ed-grid") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 15, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
[data-icon]:before {
  font-family: "ed-grid" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 29, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "ed-grid" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  display: inline-block;
  position: relative;
  top: 0.15em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 44, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-youtube:before {
  content: "a"; }

/* line 47, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-twitter:before {
  content: "b"; }

/* line 50, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-facebook:before {
  content: "c"; }

/* line 53, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-linkedin:before {
  content: "d"; }

/* line 56, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-pinterest:before {
  content: "e"; }

/* line 59, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-instagram:before {
  content: "f"; }

/* line 62, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-rss:before {
  content: "g"; }

/* line 65, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-github:before {
  content: "h"; }

/* line 68, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-izquierda:before {
  content: "i"; }

/* line 71, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-derecha:before {
  content: "j"; }

/* line 74, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-arriba:before {
  content: "k"; }

/* line 77, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-abajo:before {
  content: "l"; }

/* line 80, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-triangulo-izquierda:before {
  content: "m"; }

/* line 83, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-triangulo-derecha:before {
  content: "n"; }

/* line 86, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-triangulo-arriba:before {
  content: "p"; }

/* line 89, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-aceptar:before {
  content: "q"; }

/* line 92, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-triangulo-abajo:before {
  content: "o"; }

/* line 95, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-telefono:before {
  content: "r"; }

/* line 98, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-android:before {
  content: "s"; }

/* line 101, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-apple:before {
  content: "t"; }

/* line 104, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-bitcoin:before {
  content: "u"; }

/* line 107, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-fecha:before {
  content: "v"; }

/* line 110, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-camara:before {
  content: "w"; }

/* line 113, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-tarjeta:before {
  content: "x"; }

/* line 116, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-pin:before {
  content: "y"; }

/* line 119, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-cerrar:before {
  content: "z"; }

/* line 122, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-whatsapp:before {
  content: "A"; }

/* line 125, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-vimeo:before {
  content: "B"; }

/* line 128, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-menu:before {
  content: "C"; }

/* line 131, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-menu-secundario:before {
  content: "D"; }

/* line 134, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-correo:before {
  content: "E"; }

/* line 137, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-ed:before {
  content: "F"; }

/* line 140, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-google-plus:before {
  content: "G"; }

/* line 143, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-carrito:before {
  content: "H"; }

/* line 146, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-usuario:before {
  content: "I"; }

/* line 149, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-enlace:before {
  content: "J"; }

/* line 152, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-portafolio:before {
  content: "K"; }

/* line 155, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-mastercard:before {
  content: "L"; }

/* line 158, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-paypal:before {
  content: "M"; }

/* line 161, C:/Users/Álvaro/Documents/GitHub/ed-grid/sass/componentes/icon-fonts */
.icon-visa:before {
  content: "N"; }
