.section1.main-center.cross-center
  .ed-container.main-center.cross-center
    .ed-item.m-100
      h1 ED Grid
      h2 framework css minimalista
      .main-center
        a(href="#").section1__btn-iniciar Cómo Empezar
