#menu.menu
  .ed-container.main-justify.cross-center
    .ed-item
      .menu__logo
        a(href="http://escuela.digital" target="blank") ED
    .ed-item
      nav.menu_nav
        a(href="index.html").activo Css
        a(href="http://escuela.digital/edgrid/docs")  Sass
