// Estilos generales
	.ed-menu {
		// El menú limpia los floats y define su ancho por el contenido
		display: table;

		&, & ul {
			// Reset básico a los ul para generar los menus
			list-style: none;
			margin: 0;
			padding: 0;
		}

		li {
			// Reset básico a los li para generar los items
			padding: 0;
			margin: 0;
			position: relative;
			transition: all .3s;
		}

		a,span {
			// Reset básico a los "a" para generar los inks
			// Se incluye span por si se quiere un placeholder y no un link
			display: block;
			text-decoration: none;
		}

		ul {
			position: absolute;
		}
	}


// Primer nivel
	// Desde web (por debajo es una lista)
	@media (min-width:1025px) {  
		// Menu horizontal en web
		.ed-menu.horizontal > li{
			float: left;
			text-align: center;
		}
	}


// Segundo nivel
	.ed-menu.horizontal > li > ul {
		// Posicionamiento del menu
		position: absolute;
		top: 100%;
		left: 0;
		// Previene que se oculte el submenu al salir del hover del padre:
		z-index: 100; 
		// Regresar a la izquierda los items
		text-align: left;
	}


// Tercer nivel
	.ed-menu ul ul {
		position: absolute;
		left: 100%;
		top: 0;
	}


// Animacion (slideDown y slideUp) de los subniveles
	.ed-menu {
		ul li {
			// Ocultar menu y preparar animacion
			max-height: 0;
			overflow: hidden;
			transition: all .3s;
		}

		li:hover > ul > li {
			max-height: 100px;
			overflow: visible;
		}
	} 
	

// Con la clase "flechas" en "ed-menu" se añaden flechas a los padres
.ed-menu.flechas {

	.padre:after {
		content:"";
		width: 0;
		height: 0;
		display: block;

		opacity: .5;

		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: .5em;
	}

	& > .padre {

		&:after {
			border-top: .4rem solid #fff;
			border-left: .3rem solid transparent;
			border-right: .3rem solid transparent;
		}

		.padre:after {
			border-left: .4rem solid #fff;
			border-top: .3rem solid transparent;
			border-bottom: .3rem solid transparent;
		}		
	}	
}

.ed-menu.vertical.flechas {
	li:after {
			content:"";
			width: 0;
			height: 0;
			display: block;

			opacity: .5;

			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 1.5em;

			border-left: .4rem solid #fff;
			border-top: .3rem solid transparent;
			border-bottom: .3rem solid transparent;
		}
}

// Menu movil
/* Hasta web */
@media (max-width:1024px) {
	.mostrar-menu {
		color: $ed-menu--mostrar-menu-color;
		cursor: pointer;
		width: 100%;
		line-height: 2.5;
		padding-left: 1em;

		&:before {
			content: "";
			display: inline-block;
			width: 1.6em;
			height: 1em;
			margin-right: .5em;
			position: relative;
			top: .1em;
			background: linear-gradient(
                        $ed-menu--mostrar-menu-color 20%,
                        transparent 20%,
                        transparent 40%,
                        $ed-menu--mostrar-menu-color 40%,
                        $ed-menu--mostrar-menu-color 60%,
                        transparent 60%,
                        transparent 80%,
                        $ed-menu--mostrar-menu-color 80%
				        )
		}
	}
	
	.principal .ed-menu {
		display: none;
	}
}

/* Desde web */
@media (min-width:1025px) {
	.mostrar-menu {
		display: none;
	}
}

// Estilos del menu principal
.principal {
	background: $ed-menu--background;

	.ed-menu {
		background: $ed-menu--background;
		
		a, span {
			line-height: $ed-menu--line-height;
			font-size: $ed-menu--font-size;
			color: $ed-menu--color;
			text-transform: $ed-menu--text-transform;
		}

		li:hover {
			background: $ed-menu--hover;
		}
		
		ul {
			width: $ed-menu--subnivel-width;
			background: $ed-menu--submenus;
		}
	}
}


// Menu horizontal básico
@mixin menu-horizontal{
	list-style: none;
	margin: 0;
	padding: 0;
	display: table;

	li {
		float: left;
		margin: 0;
		padding: 0;

		a {
			display: block;
		}
	}
}