.from-l.indice-documentacion
  ul.indice-documentacion__lista
    li #[a(href="#instalar") Descargar]
    li #[a(href="#estructura") Estrucutra de archivos]
    li #[a(href="#comenzar") Comenzar con ed-grid]
    li #[a(href="#flujo-trabajo") Flujo de trabajo]
    li #[a(href="#ejemplo-grid") Ejemplos grid]
    li #[a(href="#modo-dev") Mode dev]
    li #[a(href="#pre-grid") Pre-grid]
    li #[a(href="") Visibilidad]
    li #[a(href="") aliniación]
    li #[a(href="") Helpers]
    li #[a(href="") Offset]
    li #[a(href="") Video]
    li #[a(href="") Botones]
    li #[a(href="") Menus Responsive]
