#comenzar
  .comenzar__intro
    h2 Introducción
    p Ed-grid es un framework para responsive Web Design escrito con Sass cuyas ventajas son:
    ul.comenzar__intro-lista
      li Solo genera el layout de la interfaz. Por lo que puede integrarse a cualquier tipo de proyecto sin crear conflictos.
      li No está limitado a doce columnas (como el 99.9% de opciones similares) sino que puedes construir tu layout con absoluta libertad
      li No genera CSS innecesario pues compila solo lo que explicitamente use.
      li Curva de aprendizaje muy rápida.
      li Puede usarse con Sass (recomendado) o con CSS
    h3 Archivo necesario
    pre.copytoclipboard.line-numbers
      code.language-markup
        | &lt;!-- Css  --&gt;
        | &lt;link rel="stylesheet" href="css/ed-grid.css"&gt;
