//- ejemplos
#ejemplo-grid
  h2 Ejemplos Grid
    h3 Ejemplo: ed-item
    .ejemplo-grid__001
      .ed-container
        .ed-item.ed-ejemplo
          p  ed-item 1
        .ed-item.ed-ejemplo
          p  ed-item 2
      .ed-marcar
        pre.copytoclipboard.line-numbers
          code.language-markup
            | &lt;!-- contenedor padre  --&gt;
            | &lt;div class="ed-container"&gt;
            |  &lt;!-- contenedor hijo  --&gt;
            |   &lt;div class="ed-item"&gt;
            |    &lt;p&gt; ed-item 1 &lt;p&gt;
            |   &lt;/div&gt;
            |   &lt;div class="ed-item"&gt;
            |    &lt;p&gt; ed-item 1 &lt;p&gt;
            |   &lt;/div&gt;
            | &lt;/div&gt;
    h3 Ejemplo: movil - escritorio
    p #[strong Movil] el item 1 y 2 al 50% y el item 3 al 100%
    p #[strong Escritorio] el item 1, 2 y 3 distribuido en el ancho
    .ejemplo-grid__002
      .ed-container
        .ed-item.s-50.l-1-3.ed-ejemplo
          p  ed-item 1
        .ed-item.s-50.l-1-3.ed-ejemplo
          p  ed-item 2
        .ed-item.s-100.l-1-3.ed-ejemplo
          p  ed-item 3
      .ed-marcar
        pre.copytoclipboard.line-numbers
          code.language-markup
            | &lt;!-- contenedor padre  --&gt;
            | &lt;div class="ed-container"&gt;
            |  &lt;!-- contenedor hijo  --&gt;
            |   &lt;div class="ed-item s-50 l-1-3"&gt;
            |    &lt;p&gt; ed-item 1 &lt;p&gt;
            |   &lt;/div&gt;
            |   &lt;div class="ed-item s-50 l-1-3"&gt;
            |    &lt;p&gt; ed-item 2 &lt;p&gt;
            |   &lt;/div&gt;
            |   &lt;div class="ed-item s-100 l-1-3"&gt;
            |    &lt;p&gt; ed-item 3 &lt;p&gt;
            |   &lt;/div&gt;
            | &lt;/div&gt;
    h3 Ejemplo: movil - tableta - escritorio
    p en este ejemplo tambien aplicamos herencia
    p #[strong Movil] el item 1, 2 al 50% y los items 3 y 4 al 100%
    p #[strong tableta] el item 1, 2 al 50% e igualmente 3 y 4
    p #[strong Escritorio] el item 1, 2, 3 y 4 distribuido en el ancho
    .ejemplo-grid__002
      .ed-container
        .ed-item.s-50.l-25.ed-ejemplo
          p  ed-item 1
        .ed-item.s-50.l-25.ed-ejemplo
          p  ed-item 2
        .ed-item.s-100.m-50.l-25.ed-ejemplo
          p  ed-item 3
        .ed-item.s-100.m-50.l-25.ed-ejemplo
          p  ed-item 4
      .ed-marcar
        pre.copytoclipboard.line-numbers
          code.language-markup
            | &lt;!-- contenedor padre  --&gt;
            | &lt;div class="ed-container"&gt;
            |  &lt;!-- contenedor hijo  --&gt;
            |   &lt;div class="ed-item s-50 l-25"&gt;
            |    &lt;p&gt; ed-item 1 &lt;p&gt;
            |   &lt;/div&gt;
            |   &lt;div class="ed-item s-50 l-25"&gt;
            |    &lt;p&gt; ed-item 2 &lt;p&gt;
            |   &lt;/div&gt;
            |   &lt;div class="ed-item s-100 m-50 l-25"&gt;
            |    &lt;p&gt; ed-item 3 &lt;p&gt;
            |   &lt;/div&gt;
            |   &lt;div class="ed-item s-100 m-50 l-25"&gt;
            |    &lt;p&gt; ed-item 4 &lt;p&gt;
            |   &lt;/div&gt;
            | &lt;/div&gt;
