doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/styles.css")
    title ED-GRID
  body
    header
      .ed-container
        .ed-item.web-20
          img(src="img/logo.png").logo
        .ed-item.web-80.main-end.cross-center
          | Versión 1.2
    nav
      .ed-container
        .ed-item
          ul.ed-menu.nav-bar.web-horizontal
            li
              a(href="#") Item 1
              ul
                li: a(href="#") Subitem 1
                li: a(href="#") Subitem 2
                li
                  a(href="#") Subitem 3
                  ul
                    li: a(href="#") Sub-item 1
                    li: a(href="#") Sub-item 2
                    li: a(href="#") Sub-item 3
                    li: a(href="#") Sub-item 4
                li: a(href="#") Subitem 4
            li: a(href="#") Item 2
            li: a(href="#") Item 3
            li: a(href="#") Item 4
            li: a(href="#") Item 5
            li: a(href="#") Item 6
            li: a(href="#") Item 7
    .ed-container
      .ed-item.web-75
        h2 ¿Qué es ED GRID?
        p ED GRID es un framework para Responsive Web Design construido en español, con Sass y mucho café.
        p Con ED GRID puede crear layouts y prototipos responsive con mucha facilidad, con una metodología fácil de aprender.
        p ED GRID 1.2 viene con Flexbox. Adios a los floats
        p Esta versión incluye botones y menús desplegables.
        p Si solo desea ED GRID para incluirlo en un proyecto (y no toda la estructura de carpetas que ha descargado) copie la carpeta scss/ed-grid/ y listo
        a.button.round Este es un boton
      .ed-item.web-25.abcenter
        a(href="http://escueladigital.pe" target="_blank") Escuela Digital
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="js/scripts.js")
