@import "components/functions";

$cssCore    : true  !default;
$cssHelpers : true  !default;
$devMode    : false !default;

// flex-container and flex-item
$container : ed-container !default;
$item      : ed-item !default;

// Max width of containers
$max-width : 1200px !default;

// Gutter between same line items
// Total gutter between items is $gutter * 2
$gutter : em(15px) !default;

// Breakpoints
$breakpoints : (
  s  : 0,
  m  : 640px,
  l  : 1024px,
  xl : 1440px
) !default;

$fractions : 3 6 !default;
