@import "components/functions";

$cssCore    : true  !default;
$cssHelpers : true  !default;
$devMode    : true  !default;

// flex-container and flex-item
$container : ed-container;
$item      : ed-item;

// Max width of containers
$max-width : rem(1200px);

// Gutter between same line items
// Total gutter between items is $gutter * 2
$gutter : em(15px);

// Breakpoints
$breakpoints : (
  s  : em(320px),
  m  : em(640px),
  l  : em(1024px),
  xl : em(1440px)
);

$fractions: 3 6 8;
