/*
	* ED GRID  es un FRAMEWORK SOLO CSS para crear diseños web
	* responsive y mobile first. Creado por Álvaro Felipe de 
	* Escuela Digital http://escueladigital.pe
	* Esta es una primera versión (prototipo) que será mejorada 
	* permanentemente. Use ED GRID libremente en sus proyectos. 
	* Sus consejos y sugerencias serán bienvenidos. Escribanos 
	* en http://facebook.com/escueladigitalperu o a 
	* http://twitter.com/edigitalperu para reportar errores, 
	* sugerencias o pedir soporte. Prometo responder =)
	* En su html inserte primero ed-grid y luego ed-grid-custom 
	* para que sus estilos personalizados se apliquen en el 
	* orden correcto. Pronto crearé una página web solamente 
	* para ed-grid con documentación detallada, casos de uso 
	* y comentarios. Lo prometo =)
*/



/* Evitar que los paddings y bordes redimensionen las cajas*/
*,
*:before,
*:after {
	box-sizing: border-box;
}

/* Reset basico*/
body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

/* 	ESTILOS PARA DESARROLLO
	========================
	Añada la clase "desarrollo"
   	a body para tener ayudas al trabajar con ED GRID 
*/
body.desarrollo {
	padding: 0 !important;
	margin: 0 !important;
}

body.desarrollo:before{
	background:  steelblue; /*Azul Escuela Digital*/	
	display: block;
	padding: 0;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	line-height: 36px;
	margin-bottom: 30px;
}

.desarrollo .grupo {
	padding-top: 22px;
	background: #fff;
	margin-bottom: 10px;
}
.desarrollo .grupo .grupo {
	margin-bottom: 0;
	padding-bottom: 22px;
}
.desarrollo .grupo > div,
.desarrollo .grupo > section{
	background: #eee;
	box-shadow: 0 0 0 1px steelblue inset;
	position: relative;
	padding-bottom: 22px;
}

.desarrollo .grupo > div:after,
.desarrollo .grupo > section:after,
.desarrollo .grupo:after{
	background: rgba(70, 130, 180,.3);
	content: attr(class);
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
	display: table;
	padding: 3px 5px;
	font-style: italic;
	font-size: 12px;
	width: 100%;
	color: #2A4E6C;
	height: 16px;
	line-height: 16px;
	/*border: 1px solid seagreen;*/
}
.desarrollo .grupo:after{
	top: 0;
	left: 0;
	width: 100%;
	border: 1px solid steelblue;
	border-bottom: none;
}
.desarrollo .grupo > div:nth-child(even),
.desarrollo .grupo > section:nth-child(even){
	background: #ccc;
}


/*
	GRUPOS Y CAJAS
	==============
	Los grupos son contenedores para las cajas.
	Las cajas crean las divisiones verticales en el grupo (columnas)
*/
.grupo {
	position: relative;
	display: table;
	max-width: 1100px;
	margin: 0 auto;
	width: 100%;
}

.grupo > div,
.grupo > section{
	float: left;
	margin: 0;
	padding: 0 15px;
	width: 100%;
}

/*Si se quiere igualar alturas se le da al grupo la clase tabla*/
.grupo.tabla > div,
.grupo.tabla > section {
	display: table-cell;
	float: none;
}

/*
	ESTILOS DE LAYOUT
	==================
*/
.centrar-caja{
	display: block;
	clear: both;
	float: none !important;
	margin: 0 auto !important;
}

.centrar-texto {
	text-align: center;
}

.derecha-texto {
	text-align: right;
}

.left,
.izquierda {
	float: left;
}

.right,
.derecha {
	float: right;
}


/* 	NO PADDING
	===========
	class="no-padding" al grupo, le da padding cero a todas sus cajas.
	class="no-padding" a la caja le da padding cero solo a ella
*/
.no-padding.grupo > div,
.no-padding.grupo > section,
.grupo > .no-padding {
	padding: 0 !important;
}


/* 
	VISIBILIDAD DE ELEMENTOS
	========================= 
	Las siguientes clases aseguran la visibilidad solo dentro del 
	rango indicado.
*/

.hasta-movil, 		/*por debajo de 480px*/
.solo-movil,  		/*entre 480px y 767px*/
.desde-movil, 		/*desde 480px en adelante*/
.hasta-tablet, 		/*por debajo de 768px*/
.solo-tablet,  		/*entre 768px y 1024px*/
.desde-tablet,  	/*desde 768px en adelante*/
.hasta-web,  		/*por debajo de 1024px*/
.solo-web { 		/*desde 1024px en adelante*/
	display: none;
}



/*==================================*
 |			MEDIA QUERIES 			|
 *==================================*/


/*
	POR DEBAJO DE MOVIL (menos de 480px)
	====================================
	Solo hay una columna
*/

@media (max-width: 479px){

	.hasta-movil{
		display: block;
	}

	/* Mensaje en modo desarrollo */
	body.desarrollo:before{
		content: "Debajo de 480px";
	}

}

/*
	DESDE MOVIL (a partir de 480px)
	===============================
*/

@media (min-width: 480px) {

	.desde-movil {
		display: block;
	}

	/* Tercios */
	.grupo .movil-1-3	{ width: 33.3333% }
	.grupo .movil-2-3	{ width: 66.3337% }
	.grupo .movil-3-3	{ width: 100% }

	/* Sextos */
	.grupo .movil-1-6	{ width: 16.6666% }
	.grupo .movil-2-6	{ width: 33.3333% }
	.grupo .movil-3-6	{ width: 50% }
	.grupo .movil-4-6	{ width: 66.3337% }
	.grupo .movil-5-6	{ width: 83.3333% }
	.grupo .movil-6-6	{ width: 100% }

	/* Octavos */
	.grupo .movil-1-8	{ width: 12.5% }
	.grupo .movil-2-8	{ width: 25% }
	.grupo .movil-3-8	{ width: 37.5% }
	.grupo .movil-4-8	{ width: 50% }
	.grupo .movil-5-8	{ width: 62.5% }
	.grupo .movil-6-8	{ width: 75% }
	.grupo .movil-7-8	{ width: 87.5% }
	.grupo .movil-8-8	{ width: 100% }

	/* Anchos por porcentaje */
	.grupo .movil-5		{ width: 5% }
	.grupo .movil-10	{ width: 10% }
	.grupo .movil-15	{ width: 15% }
	.grupo .movil-20	{ width: 20% }
	.grupo .movil-25	{ width: 25% }
	.grupo .movil-30	{ width: 30% }
	.grupo .movil-35	{ width: 35% }
	.grupo .movil-40	{ width: 40% }
	.grupo .movil-45	{ width: 45% }
	.grupo .movil-50	{ width: 50% }
	.grupo .movil-55	{ width: 55% }
	.grupo .movil-60	{ width: 60% }
	.grupo .movil-65	{ width: 65% }
	.grupo .movil-70	{ width: 70% }
	.grupo .movil-75	{ width: 75% }
	.grupo .movil-80	{ width: 80% }
	.grupo .movil-85	{ width: 85% }
	.grupo .movil-90	{ width: 90% }
	.grupo .movil-95	{ width: 95% }
	.grupo .movil-100	{ width: 100% }

}

/*
	SOLO MOVIL (entre 480px y 767px)
	=================================
*/
@media (min-width: 480px) and (max-width: 767px) {
	
	/* Mensajes en modo desarrollo */
	body.desarrollo:before {
		background:  #2A4E6C; /*Azul oscuro Escuela Digital*/
		content: "MOVIL: entre 480px y 767px";
	}

	.solo-movil{
		display: block;
	}
}

/*
	POR DEBAJO DE TABLET (menos de 768px)
	======================================
*/
@media (max-width: 768px){
	.hasta-tablet {
		display: block;
	}
}


/*
	DESDE TABLET (desde 768px en adelante)
	=======================================
*/
@media (min-width: 768px) {

	.desde-tablet{
		display: block;
	}
	
	/* Tercios */
	.grupo .tablet-1-3	{ width: 33.3333% }
	.grupo .tablet-2-3	{ width: 66.3337% }
	.grupo .tablet-3-3	{ width: 100% }

	/* Sextos */
	.grupo .tablet-1-6	{ width: 16.6666% }
	.grupo .tablet-2-6	{ width: 33.3333% }
	.grupo .tablet-3-6	{ width: 50% }
	.grupo .tablet-4-6	{ width: 66.3337% }
	.grupo .tablet-5-6	{ width: 83.3333% }
	.grupo .tablet-6-6	{ width: 100% }

	/* Octavos */
	.grupo .tablet-1-8	{ width: 12.5% }
	.grupo .tablet-2-8	{ width: 25% }
	.grupo .tablet-3-8	{ width: 37.5% }
	.grupo .tablet-4-8	{ width: 50% }
	.grupo .tablet-5-8	{ width: 62.5% }
	.grupo .tablet-6-8	{ width: 75% }
	.grupo .tablet-7-8	{ width: 87.5% }
	.grupo .tablet-8-8	{ width: 100% }

	/* Anchos por porcentaje */
	.grupo .tablet-5	{ width: 5% }
	.grupo .tablet-10	{ width: 10% }
	.grupo .tablet-15	{ width: 15% }
	.grupo .tablet-20	{ width: 20% }
	.grupo .tablet-25	{ width: 25% }
	.grupo .tablet-30	{ width: 30% }
	.grupo .tablet-35	{ width: 35% }
	.grupo .tablet-40	{ width: 40% }
	.grupo .tablet-45	{ width: 45% }
	.grupo .tablet-50	{ width: 50% }
	.grupo .tablet-55	{ width: 55% }
	.grupo .tablet-60	{ width: 60% }
	.grupo .tablet-65	{ width: 65% }
	.grupo .tablet-70	{ width: 70% }
	.grupo .tablet-75	{ width: 75% }
	.grupo .tablet-80	{ width: 80% }
	.grupo .tablet-85	{ width: 85% }
	.grupo .tablet-90	{ width: 90% }
	.grupo .tablet-95	{ width: 95% }
	.grupo .tablet-100	{ width: 100% }
}


/*
	SOLO TABLET (entre 768px y 1024px)
	===================================
*/
@media (min-width: 768px) and (max-width: 1024px) {

	/* Mensaje para desarrollo */
	body.desarrollo:before {
		content: "TABLET: entre 768px y 1024px";
	}

	.solo-tablet{
		display: block;
	}
	
}

/*
	POR DEBAJO DE WEB (menos de 1024px)
	====================================
*/
@media (max-width: 1024px){
	.hasta-web{
		display: block;
	}
}

/*
	WEB (de 1024px en adelante)
	============================
*/
@media (min-width: 1025px) {

	/*Mensaje en modo desarrollo*/
	body.desarrollo:before{
		background:  #2A4E6C; /*darkblue de paleta ED*/
		content: "WEB: Desde 1025px en adelante";
	}

	.solo-web{
		display: block;
	}

	/* Tercios */
	.grupo .web-1-3	{ width: 33.3333% }
	.grupo .web-2-3	{ width: 66.3337% }
	.grupo .web-3-3	{ width: 100% }

	/* Sextos */
	.grupo .web-1-6	{ width: 16.6666% }
	.grupo .web-2-6	{ width: 33.3333% }
	.grupo .web-3-6	{ width: 50% }
	.grupo .web-4-6	{ width: 66.3337% }
	.grupo .web-5-6	{ width: 83.3333% }
	.grupo .web-6-6	{ width: 100% }

	/* Octavos */
	.grupo .web-1-8	{ width: 12.5% }
	.grupo .web-2-8	{ width: 25% }
	.grupo .web-3-8	{ width: 37.5% }
	.grupo .web-4-8	{ width: 50% }
	.grupo .web-5-8	{ width: 62.5% }
	.grupo .web-6-8	{ width: 75% }
	.grupo .web-7-8	{ width: 87.5% }
	.grupo .web-8-8	{ width: 100% }

	/* Anchos por porcentaje */
	.grupo .web-5	{ width: 5% }
	.grupo .web-10	{ width: 10% }
	.grupo .web-15	{ width: 15% }
	.grupo .web-20	{ width: 20% }
	.grupo .web-25	{ width: 25% }
	.grupo .web-30	{ width: 30% }
	.grupo .web-35	{ width: 35% }
	.grupo .web-40	{ width: 40% }
	.grupo .web-45	{ width: 45% }
	.grupo .web-50	{ width: 50% }
	.grupo .web-55	{ width: 55% }
	.grupo .web-60	{ width: 60% }
	.grupo .web-65	{ width: 65% }
	.grupo .web-70	{ width: 70% }
	.grupo .web-75	{ width: 75% }
	.grupo .web-80	{ width: 80% }
	.grupo .web-85	{ width: 85% }
	.grupo .web-90	{ width: 90% }
	.grupo .web-95	{ width: 95% }
	.grupo .web-100	{ width: 100% }
}