// ED GRID
// Desde este archivo podrá modificar los componentes y valores
// por defecto de ed-grid

// flex-container y flex-item
$container: ed-container;
$item: ed-item;

// Ancho máximo de cada container
$max-width: 1200px;

// Separación entre items
$padding: 15px;

// Tamaños. Puede editar los nombres y las
// medidas, añadir más o quitar.
// todo: crear funcion para convertir px a em y usarla aqui
$breakpoints: (
  movil  : 480px,
  tablet : 768px,
  web    : 1024px,
  hd     : 1400px
);

$fractions: 3 6 8;

// Por favor desactive los que no vaya a usar para mejorar el rendimiento

@import "componentes/base";        // Estilos básicos para RWD
@import "componentes/core";        // Núcleo de ED GRID, grupos y cajas
@import "componentes/mixins";      // Mixins ED GRID
@import "componentes/desarrollo";  // Modo desarrollo
@import "componentes/visibilidad"; // Controlar la visibilidad
@import "componentes/utilidades";  // Utilidades adicionales
@import "componentes/video";       // Videos responsive
@import "componentes/ed-menu";     // Ed menu
@import "componentes/flexbox";     // Flexbox
@import "componentes/offset";      // Offset
@import "componentes/modulos";      // Botones, sociales
