header {
	background: #142533;
	color: rgba(255,255,255,.7);
}

header p {
	margin-top: 1em;
}
nav {
	background: steelblue;
	display: table;
	width: 100%;
}
p {
	margin: 0 0 .5em 0;
}
p:last-child {
	margin-bottom: 0;
}
.menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu li {
	float: left;
}

.menu a {
	line-height: 3;
	color: #ddd;
	text-decoration: none;
	padding: 0 2.5em;
	text-transform: uppercase;
}
.menu a:hover {
	color: #fff;
}

.banner img{
	display: block;
}
.mensaje {
	background: #ccc;
	line-height: 3;
}

.mensaje a {
	color: #fff;
	background: steelblue;
	display: inline-block;
	line-height: 2;
	padding: 0 1em;
	text-decoration: none;
}

.mensaje a:hover {
	background: #142533;
}

.caracteristicas,
.clientes {
	padding-top: 3em;
}
h2{
	color: steelblue;
}

.caracteristicas img,
.clientes img {
	border: 1px solid #ccc;
	padding: 3px;
	margin-bottom: 1em;
}

.clientes p {
	font-size: .8em;
}

.clientes img {
	margin-bottom: .3em;
}


footer {
	background: #142533;
	color: #fff;
	padding: 1.5em 0;
	margin-top: 3em;
}