block link-section
  - var active = 'Comenzar con EDgrid';

-
  let sidebar = {
  'Comenzar con EDgrid': '/documentacion',
  'Instalación': '/documentacion/instalacion.html',
  'Estructura de archivos': '/documentacion/estructura.html',
  'Estructura CSS': '/documentacion/css.html',
  'Estructura Sass': '/documentacion/sass.html',
  'Breakpoints': '/documentacion/breakpoints.html',
  'Layout con Flexbox': '/documentacion/layout-flexbox.html',
  'Layout con CSS Grid': '/documentacion/layout-css-grid.html',
  'Layout vertical': '/documentacion/layout.html',
  'Personalizar EDgrid': '/documentacion/personalizar.html',
  'Mediaqueries (Sass)': '/documentacion/mediaqueries.html',
  'Base': '/documentacion/base.html',
  'Modo dev': '/documentacion/modo-dev.html',
  'Grids (cuadrículas)': '/documentacion/grids.html',
  'Visibilidad': '/documentacion/visibilidad.html',
  'Funciones': '/documentacion/funciones.html',
  'Helpers': '/documentacion/helpers.html',
  'Offset': '/documentacion/offset.html',
  'Videos responsive': '/documentacion/videos.html',
  'Botones': '/documentacion/botones.html',
  'Menus': '/documentacion/menus.html'
  }

nav(itemscope itemtype="http://schema.org/WPSideBar").vertical-menu#vertical-menu
  ul
    each val, key in sidebar
      li(itemprop="url")
        a(href=val itemprop="name" title= "Enlace de " + key)= key
