block link-section
  - var active = 'Comenzar con EDgrid';

-
  let sidebar = {
  'Comenzar con EDgrid': '/documentacion',
  'Estructura de archivos': '/documentacion/estructura.html',
  'CSS': '/documentacion/css.html',
  'Sass': '/documentacion/sass.html',
  'Flujo de trabajo (CSS/Sass)': '/documentacion/flujo.html',
  'Configurar (Sass)': '/documentacion/configurar.html',
  'Base (CSS/Sass)': '/documentacion/base.html',
  'Core (CSS/Sass)': '/documentacion/core.html',
  'Mediaqueries (Sass)': '/documentacion/mediaqueries.html',
  'Modo dev': '/documentacion/modo-dev.html',
  'Grid (Sass/CSS)': '/documentacion/grid.html',
  'Visibilidad (CSS/Sass)': '/documentacion/visibilidad.html',
  'Flexbox (CSS/Sass)': '/documentacion/flexbox.html',
  'Funciones (Sass)': '/documentacion/funciones.html',
  'Helpers (CSS/Sass)': '/documentacion/helpers.html',
  'Offset (Sass/CSS)': '/documentacion/offset.html',
  'Videos responsive (Sass/CSS)': '/documentacion/videos.html',
  'Botones (Sass/CSS)': '/documentacion/botones.html',
  'Menus (Sass/CSS)': '/documentacion/menus.html'
  }

aside(itemscope="itemscope" itemtype="http://schema.org/WPSideBar" role="complementary").ed-item.l-25.main-sidebar.sidebar-first
  .vertical-menu-toggle.to-l#vertical-menu-toggle(data-content="Filtros")
  nav(itemscope itemtype="http://schema.org/WPSideBar").vertical-menu#vertical-menu
    ul
      each val, key in sidebar
        li(itemprop="url")
          a(href=val itemprop="name" title= "Enlace de " + key)= key
