footer.main-footer(role="contentinfo" itemscope itemtype="http://schema.org/WPFooter")
  .ed-container.main-footer--content

    .ed-item.l-50.s-to-center.s-center
      p.smaller.s-mb-1 EDgrid es una librería Sass/Css para crear diseños web responsive y mobile first.
        a(href="https://join.slack.com/t/edlabs/shared_invite/enQtMjk1MjcxOTUzMzgxLTgyY2MwZjY3ODRhNGQyMWJkOWRkOGFlZjQ1YjJiYjAxOTMwNGIzMGViMjc5ODZmMmI3ZGFlNGNiMTEwNGIyNzc" target="_blank" title="Slack de EDgrid").icon-slack.space
        a(href="https://github.com/escueladigital/EDgrid" target="_blank" title="EDgrid en EDgrid").icon-github.space
        a(href="documentacion" target="_blank" title="Documentación de EDgrid").icon-docs.space

      p.smaller.s-mb-1 EDgrid es una marca de <a href="https://ed.team" target="_blank">EDteam</a>. Repositorio de este sitio web en  <a href="https://github.com/escueladigital/EDgrid" target="_blank">Github</a>

    .ed-item
      p.smaller.s-center.s-mb-0
        a(href="https://ed.team/alvaro" target="_blank" title="Blog de Alvaro Felipe")= `Alvaro Felipe `
        span= `2015 - ${new Date().getFullYear()}`
