footer.main-footer(role="contentinfo" itemscope itemtype="http://schema.org/WPFooter")
  .ed-container.main-footer--content

    .ed-item.l-50.s-to-center.s-center
      p.smaller.s-mb-1 EDgrid es una librería Sass/Css para crear diseños web responsive y mobile first.
        a(href="https://github.com/escueladigital/EDgrid" target="_blank" title="EDgrid en EDgrid").icon-github.space
        a(href="documentacion" target="_blank" title="Documentación de EDgrid").icon-docs.space
      p.smaller.s-mb-1 EDgrid es una marca de #[a(target="_blank" href="https://ed.team") EDteam], ambas fundadas por #[a(target="_blank" href="https://alvaro.ceo") Álvaro Felipe].
      p.smaller.l-block= `2015 - ${new Date().getFullYear()}`

      .s-cross-center.s-main-center
        a.s-mr-3(href="https://github.com/escueladigital/EDgrid" target="_blank")
          img(src="/assets/img/icons/github.svg" width=20 height=20)
        a(href="https://twitter.com/EDgridcss" target="_blank")
          img(src="/assets/img/icons/twitter.svg" width=20 height=20)
