header(itemscope itemtype="http://schema.org/WPHeader").main-header
  .ed-grid.s-grid-5.cols-lg-10
    .s-cols-2.s-cross-center(itemscope itemtype="http://schema.org/Organization")
      a(href="/" itemprop="url")
        img(alt="Logotipo de EDgrid" itemprop="logo" src="/assets/img/logo/EDgrid-logo.svg").main-logo
    .s-cols-3.lg-cols-8.main-menu-container.s-cross-center.s-main-end
      nav(itemscope itemtype="http://schema.org/SiteNavigationElement" role="navigation").main-menu#main-menu
        include main-menu
      .main-menu-toggle.to-l#main-menu-toggle

