header(itemscope itemtype="http://schema.org/WPHeader").main-header
  .ed-container
    .ed-item.s-40.l-15.cross-center(itemscope itemtype="http://schema.org/Organization")
      a(href="/" itemprop="url")
        img(alt="Logotipo de EDgrid" itemprop="logo" src="../images/EDgrid-logo.svg").main-logo
    .ed-item.s-60.l-85.main-menu-container.cross-center.main-end
      nav(itemscope itemtype="http://schema.org/SiteNavigationElement" role="navigation").main-menu#main-menu
        include main-menu
      .main-menu-toggle.to-l#main-menu-toggle

