mixin main-banner
  .main-banner.background.grey-800.l-section
    .ed-grid.lg-grid-2.row-gap.s-gap-2.m-gap-4
      .s-column.s-main-center.lg-main-center.lg-cross-start.s-center.lg-left
        h1.bigger-title
          span.color.white-color Maqueta sitios #[<br/>] #[span.color.blue-400 y aplicaciones web] #[<br/>] sin una línea de CSS
        p.color.grey-400.m-60.m-to-center.lg-100 EDgrid implementa un sistema de diseño flexible y personalizable para construir layouts y componentes responsive a la velocidad de la luz ⚡
        .s-main-center
          a.button.blue-500.s-mr-2.s-mb-2.m-mb-0(href="/documentacion/instalacion.html" title="Documentación de EDgrid")
            span 📄 Lee la documentación
          a.button.ghost.blue-400.s-mb-2.m-mb-0(href="https://github.com/escueladigital/EDgrid" target="_blank" title="EDgrid en Github")
            span 😺 Repo en Github
      div
        .img-container.s-ratio-16-9
          img.s-radius-1(src="/assets/img/logo/edgrid-poster.jpg")
