mixin main-banner
  .main-banner.background.grey-800.l-section
    .ed-grid.lg-grid-2
      div
        h1.bigger-title
          span.color.white-color Construye sitios responsive #[<br/>] #[span.color.blue-400 muy f치cil y r치pido] #[<br/>] con EDgrid
        p.white-color.s-opacity-8 Libreria Sass/CSS de EDteam para construir layouts web responsive
        .flex
          a.button.blue-500.s-mr-2(href="/documentacion" title="Documentaci칩n de EDgrid")
            span 游늯 Documentaci칩n
          a.button.ghost.blue-400(href="https://github.com/escueladigital/EDgrid" target="_blank" title="EDgrid en Github")
            span 游떀 Github
      div
        .img-container.s-ratio-16-9
          img.s-radius-1(src="https://edteam-media.s3.amazonaws.com/courses/original/07603a0f-cb7d-4cc0-83d2-f38d89434062.png")
