.indice-documentacion
  .indice-documentacion__cuerpo
    h2 Indicativos
  .indice-documentacion__indicativos
    .indice-documentacion__indicativo
      p Css
      i.icon.ion-ios-bolt.indicativo_css
    .indice-documentacion__indicativo
      p Sass
      i.icon.ion-ios-bolt.indicativo_sass
  ul.indice-documentacion__lista
    li #[a(href="#") Instalar]
    li #[a(href="") Estrucutra de archivos]
    li #[a(href="#") Comenzar con ed-grid]
    li #[a(href="") Css]
      i.icon.ion-ios-bolt.indicativo_css
    li #[a(href="") Sass]
      i.icon.ion-ios-bolt.indicativo_sass
    li #[a(href="") Flujo de trabajo]
      i.icon.ion-ios-bolt.indicativo_sass
      i.icon.ion-ios-bolt.indicativo_css
    li #[a(href="") Configurar]
      i.icon.ion-ios-bolt.indicativo_sass
    li #[a(href="") Base]
      i.icon.ion-ios-bolt.indicativo_sass
      i.icon.ion-ios-bolt.indicativo_css
    li #[a(href="") Core]
      i.icon.ion-ios-bolt.indicativo_sass
      i.icon.ion-ios-bolt.indicativo_css
    li #[a(href="") Media queries]
      i.icon.ion-ios-bolt.indicativo_sass
    li #[a(href="") Mode dev]
      i.icon.ion-ios-bolt.indicativo_sass
      i.icon.ion-ios-bolt.indicativo_css
    li #[a(href="") Grid]
      i.icon.ion-ios-bolt.indicativo_sass
      i.icon.ion-ios-bolt.indicativo_css
    li #[a(href="") Visibilidad]
      i.icon.ion-ios-bolt.indicativo_sass
      i.icon.ion-ios-bolt.indicativo_css
    li #[a(href="") Flexbox]
      i.icon.ion-ios-bolt.indicativo_sass
      i.icon.ion-ios-bolt.indicativo_css
    li #[a(href="") Funciones]
      i.icon.ion-ios-bolt.indicativo_sass
    li #[a(href="") Helpers]
      i.icon.ion-ios-bolt.indicativo_sass
      i.icon.ion-ios-bolt.indicativo_css
    li #[a(href="") Offset]
      i.icon.ion-ios-bolt.indicativo_sass
      i.icon.ion-ios-bolt.indicativo_css
    li #[a(href="") Video]
      i.icon.ion-ios-bolt.indicativo_sass
      i.icon.ion-ios-bolt.indicativo_css
    li #[a(href="") Botones]
      i.icon.ion-ios-bolt.indicativo_sass
      i.icon.ion-ios-bolt.indicativo_css
    li #[a(href="") Menus Responsive]
      i.icon.ion-ios-bolt.indicativo_sass
      i.icon.ion-ios-bolt.indicativo_css
