#instalar
  h2 Instalación
  .comenzar__instalar-npm
    h3 npm
    pre
      code(class="language-markup") npm install --save ed-grid
  .comenzar__instalar-bower
    h3 bower
    pre
      code(class="language-markup") bower install --save ed-grid
  .comenzar__instalar-zip
    h3 Descargar Zip
    pre
      code(class="language-markup") https://github.com/escueladigital/ED-GRID
