extends ../../config/template
include ../../includes/banner
append config
  -title = "EDgrid | Changelog"
  -description = "Registro de cambios que ha tenido la librería EDgrid."
  -ogUrl = "/funciones.html"

  -img = "/assets/img/docs-banner.jpg"
  -titleBanner = "Changelog"
  -descriptionBanner = "Lanzamientos importantes de EDgrid"
  -clase = "grey-700"
  -boton = false
  -botonClass= ""
  -botonUrl=""
  -botonText =""
  -botones = false

block banner
  +banner(img, titleBanner, descriptionBanner, clase, boton, botonClass, botonUrl, botonText, botones)

block main
  .ed-grid.lg-grid-6
    .lg-cols-4.lg-x-2
      ul.data-list
        li.s-column.s-cross-start
          .container.s-column
            .s-main-justify
              span.s-mb-1.strong Actual (v 3.0)
              a(href="https://github.com/escueladigital/EDgrid/archive/master.zip" itemprop="url" target="_blank").button.small.icon-download.space Descargar versión
            ul.small.s-pl-0
              li - CSS Grid para crear layouts
              li - Versión desarrollo para CSS grid
              li - Modo dev en hover para CSS grid y flexbox
              li - Correcciones en clases de alineación
              li - Se eliminó el componente Menu (pasó a ser legacy)
              li - Corrige error en los .ed-container con la clase .full
              li - Prototipado y prototipado avanzado
              li - Sección de componentes creados con EDgrid
              li - CDN para a versión CSS
              li - Modifica estructura de archivos del core principal
              li - Mejoras en código en general
        li
          p
            span.strong v2.1.6 (Mayo 2017)
            br
            span.small Agrega CSS grid y resuelve varios bugs menores.
          a(href="https://github.com/escueladigital/EDgrid/archive/v2.0.2.zip" itemprop="url" target="_blank").button.small.icon-download.space Descargar versión
        li
          p
            span.strong v2.0 (3 dic 2016)
            br
            span.small Cambia su enfoque al de librería (pretendía ser un framework) en versión Sass y CSS. Permite usar mixins que compilano solo el código necesario, además de activar y desactivar componentes.
          a(href="https://github.com/escueladigital/EDgrid/releases/tag/v2.0.0" itemprop="url" target="_blank").button.small.icon-download.space Descargar versión
        li
          p
            span.strong v1.2 (26 sep 2015)
            br
            span.small Se cambia floats por flexbox. Se usan las clases <code>.ed-container</code> y <code>.ed-item</code> en remplazo de <code>.grupo</code> y <code>.caja</code>
          a(href="https://github.com/escueladigital/EDgrid/releases/tag/1.2" itemprop="url" target="_blank").button.small.icon-download.space Descargar versión
        li
          p
            span.strong v1.0 (19 abr 2015)
            br
            span.small Uso de floats, clases <code>.grupo</code> y <code>.caja</code>
          a(href="https://github.com/escueladigital/EDgrid/releases/tag/v1.0" itemprop="url" target="_blank").button.small.icon-download.space Descargar versión
