/*
	GRUPOS Y CAJAS
	==============
	Los grupos son contenedores para las cajas.
	Las cajas crean las divisiones verticales en el grupo (columnas)
*/
.grupo {
	position   : relative;
	max-width  : $grupo--max-width;
	width      : 100%;
	margin     : 0 auto;

	&.total {
		max-width : 100% !important;
	}

	&:before, &:after {
		content : "";
		display : table;
		width   : 100%;
		clear   : both;
	}

	.caja {
		float         : left;
		margin        : 0;
		padding-left  : ($caja--separacion / 2);
		padding-right : ($caja--separacion / 2);
		width         : 100%;
		
		&:last-child{
			float: right;
		}
	}

	.caja.total {
		float   : none;
		display : table;

		&:before, &:after {
			content : "";
			display : table;
			width   : 100%;
			clear   : both;
		}
	}
}

// Modo tabla (alturas iguales para cada caja)
.grupo.tabla {
	display : table;

	& > .caja {
		float   : none;
		display : table-cell;
	}
}

//Tamaño base en porcentajes
@for $i from 1 through 20 {
	.grupo .base-#{$i*5}{
		width: unquote($i*5 + "%");
	}
}

// Tamaño base en fracciones
@each $fraccion-nombre, $fraccion in $fracciones{
	@for $i from 1 through $fraccion{
		.grupo .base-#{$i}-#{$fraccion}{
			width: (100% / $fraccion) * $i; 
		}
	}
}

// Breakpoints
@each $size, $screen-size in $breakpoints{
	/*#{$size}: A partir de #{$screen-size}*/
	@media all and (min-width: $screen-size){
		/*Porcentajes*/
		@for $i from 1 through 20 {
			.grupo .caja.#{$size}-#{$i*5}{
				width: unquote($i*5 + "%");
			}
		}
		@each $fraccion-nombre, $fraccion in $fracciones{
			@for $i from 1 through $fraccion{
				.grupo .#{$size}-#{$i}-#{$fraccion}{
					width: (100% / $fraccion) * $i; 
				}
			}
		}
	}
}