/* line 4, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/base */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 10, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/base */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0; }

/* line 16, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/base */
img {
  max-width: 100%; }

/*
	GRUPOS Y CAJAS
	==============
	Los grupos son contenedores para las cajas.
	Las cajas crean las divisiones verticales en el grupo (columnas)
*/
/* line 25, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo {
  position: relative;
  display: table;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto; }
  /* line 32, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja {
    float: left;
    margin: 0;
    padding: 0 30px;
    width: 100%; }
    /* line 38, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
    .grupo .caja:last-child {
      float: right; }
  /* line 43, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo.tabla > .caja {
    float: none;
    display: table-cell; }

/* line 52, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-5 {
  width: 5%; }

/* line 52, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-10 {
  width: 10%; }

/* line 52, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-15 {
  width: 15%; }

/* line 52, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-20 {
  width: 20%; }

/* line 52, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-25 {
  width: 25%; }

/* line 52, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-30 {
  width: 30%; }

/* line 52, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-35 {
  width: 35%; }

/* line 52, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-40 {
  width: 40%; }

/* line 52, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-45 {
  width: 45%; }

/* line 52, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-50 {
  width: 50%; }

/* line 52, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-55 {
  width: 55%; }

/* line 52, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-60 {
  width: 60%; }

/* line 52, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-65 {
  width: 65%; }

/* line 52, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-70 {
  width: 70%; }

/* line 52, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-75 {
  width: 75%; }

/* line 52, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-80 {
  width: 80%; }

/* line 52, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-85 {
  width: 85%; }

/* line 52, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-90 {
  width: 90%; }

/* line 52, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-95 {
  width: 95%; }

/* line 52, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-100 {
  width: 100%; }

/* line 60, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-1-3 {
  width: 33.333333333%; }

/* line 60, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-2-3 {
  width: 66.666666667%; }

/* line 60, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-3-3 {
  width: 100%; }

/* line 60, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-1-6 {
  width: 16.666666667%; }

/* line 60, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-2-6 {
  width: 33.333333333%; }

/* line 60, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-3-6 {
  width: 50%; }

/* line 60, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-4-6 {
  width: 66.666666667%; }

/* line 60, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-5-6 {
  width: 83.333333333%; }

/* line 60, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-6-6 {
  width: 100%; }

/* line 60, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-1-8 {
  width: 12.5%; }

/* line 60, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-2-8 {
  width: 25%; }

/* line 60, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-3-8 {
  width: 37.5%; }

/* line 60, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-4-8 {
  width: 50%; }

/* line 60, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-5-8 {
  width: 62.5%; }

/* line 60, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-6-8 {
  width: 75%; }

/* line 60, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-7-8 {
  width: 87.5%; }

/* line 60, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
.grupo .base-8-8 {
  width: 100%; }

/*movil: A partir de 480px*/
@media screen and (min-width: 480px) {
  /*Porcentajes*/
  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.movil-5 {
    width: 5%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.movil-10 {
    width: 10%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.movil-15 {
    width: 15%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.movil-20 {
    width: 20%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.movil-25 {
    width: 25%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.movil-30 {
    width: 30%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.movil-35 {
    width: 35%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.movil-40 {
    width: 40%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.movil-45 {
    width: 45%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.movil-50 {
    width: 50%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.movil-55 {
    width: 55%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.movil-60 {
    width: 60%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.movil-65 {
    width: 65%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.movil-70 {
    width: 70%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.movil-75 {
    width: 75%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.movil-80 {
    width: 80%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.movil-85 {
    width: 85%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.movil-90 {
    width: 90%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.movil-95 {
    width: 95%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.movil-100 {
    width: 100%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .movil-1-3 {
    width: 33.333333333%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .movil-2-3 {
    width: 66.666666667%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .movil-3-3 {
    width: 100%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .movil-1-6 {
    width: 16.666666667%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .movil-2-6 {
    width: 33.333333333%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .movil-3-6 {
    width: 50%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .movil-4-6 {
    width: 66.666666667%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .movil-5-6 {
    width: 83.333333333%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .movil-6-6 {
    width: 100%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .movil-1-8 {
    width: 12.5%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .movil-2-8 {
    width: 25%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .movil-3-8 {
    width: 37.5%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .movil-4-8 {
    width: 50%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .movil-5-8 {
    width: 62.5%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .movil-6-8 {
    width: 75%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .movil-7-8 {
    width: 87.5%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .movil-8-8 {
    width: 100%; }
 }

/*tablet: A partir de 768px*/
@media screen and (min-width: 768px) {
  /*Porcentajes*/
  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.tablet-5 {
    width: 5%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.tablet-10 {
    width: 10%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.tablet-15 {
    width: 15%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.tablet-20 {
    width: 20%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.tablet-25 {
    width: 25%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.tablet-30 {
    width: 30%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.tablet-35 {
    width: 35%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.tablet-40 {
    width: 40%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.tablet-45 {
    width: 45%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.tablet-50 {
    width: 50%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.tablet-55 {
    width: 55%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.tablet-60 {
    width: 60%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.tablet-65 {
    width: 65%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.tablet-70 {
    width: 70%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.tablet-75 {
    width: 75%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.tablet-80 {
    width: 80%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.tablet-85 {
    width: 85%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.tablet-90 {
    width: 90%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.tablet-95 {
    width: 95%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.tablet-100 {
    width: 100%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .tablet-1-3 {
    width: 33.333333333%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .tablet-2-3 {
    width: 66.666666667%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .tablet-3-3 {
    width: 100%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .tablet-1-6 {
    width: 16.666666667%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .tablet-2-6 {
    width: 33.333333333%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .tablet-3-6 {
    width: 50%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .tablet-4-6 {
    width: 66.666666667%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .tablet-5-6 {
    width: 83.333333333%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .tablet-6-6 {
    width: 100%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .tablet-1-8 {
    width: 12.5%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .tablet-2-8 {
    width: 25%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .tablet-3-8 {
    width: 37.5%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .tablet-4-8 {
    width: 50%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .tablet-5-8 {
    width: 62.5%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .tablet-6-8 {
    width: 75%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .tablet-7-8 {
    width: 87.5%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .tablet-8-8 {
    width: 100%; }
 }

/*web: A partir de 1024px*/
@media screen and (min-width: 1024px) {
  /*Porcentajes*/
  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.web-5 {
    width: 5%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.web-10 {
    width: 10%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.web-15 {
    width: 15%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.web-20 {
    width: 20%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.web-25 {
    width: 25%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.web-30 {
    width: 30%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.web-35 {
    width: 35%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.web-40 {
    width: 40%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.web-45 {
    width: 45%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.web-50 {
    width: 50%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.web-55 {
    width: 55%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.web-60 {
    width: 60%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.web-65 {
    width: 65%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.web-70 {
    width: 70%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.web-75 {
    width: 75%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.web-80 {
    width: 80%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.web-85 {
    width: 85%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.web-90 {
    width: 90%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.web-95 {
    width: 95%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.web-100 {
    width: 100%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .web-1-3 {
    width: 33.333333333%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .web-2-3 {
    width: 66.666666667%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .web-3-3 {
    width: 100%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .web-1-6 {
    width: 16.666666667%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .web-2-6 {
    width: 33.333333333%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .web-3-6 {
    width: 50%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .web-4-6 {
    width: 66.666666667%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .web-5-6 {
    width: 83.333333333%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .web-6-6 {
    width: 100%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .web-1-8 {
    width: 12.5%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .web-2-8 {
    width: 25%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .web-3-8 {
    width: 37.5%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .web-4-8 {
    width: 50%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .web-5-8 {
    width: 62.5%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .web-6-8 {
    width: 75%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .web-7-8 {
    width: 87.5%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .web-8-8 {
    width: 100%; }
 }

/*hd: A partir de 1400px*/
@media screen and (min-width: 1400px) {
  /*Porcentajes*/
  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.hd-5 {
    width: 5%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.hd-10 {
    width: 10%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.hd-15 {
    width: 15%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.hd-20 {
    width: 20%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.hd-25 {
    width: 25%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.hd-30 {
    width: 30%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.hd-35 {
    width: 35%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.hd-40 {
    width: 40%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.hd-45 {
    width: 45%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.hd-50 {
    width: 50%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.hd-55 {
    width: 55%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.hd-60 {
    width: 60%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.hd-65 {
    width: 65%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.hd-70 {
    width: 70%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.hd-75 {
    width: 75%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.hd-80 {
    width: 80%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.hd-85 {
    width: 85%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.hd-90 {
    width: 90%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.hd-95 {
    width: 95%; }

  /* line 72, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .caja.hd-100 {
    width: 100%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .hd-1-3 {
    width: 33.333333333%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .hd-2-3 {
    width: 66.666666667%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .hd-3-3 {
    width: 100%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .hd-1-6 {
    width: 16.666666667%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .hd-2-6 {
    width: 33.333333333%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .hd-3-6 {
    width: 50%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .hd-4-6 {
    width: 66.666666667%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .hd-5-6 {
    width: 83.333333333%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .hd-6-6 {
    width: 100%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .hd-1-8 {
    width: 12.5%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .hd-2-8 {
    width: 25%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .hd-3-8 {
    width: 37.5%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .hd-4-8 {
    width: 50%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .hd-5-8 {
    width: 62.5%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .hd-6-8 {
    width: 75%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .hd-7-8 {
    width: 87.5%; }

  /* line 78, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/grid */
  .grupo .hd-8-8 {
    width: 100%; }
 }

/* 	ESTILOS PARA DESARROLLO
	========================
	Añada la clase "desarrollo"
   	a body para tener ayudas al trabajar con ED GRID 
*/
/* line 6, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/desarrollo */
body.desarrollo {
  padding: 0 !important;
  margin: 0 !important; }

/* line 11, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/desarrollo */
body.desarrollo:before {
  background: steelblue;
  /*Azul Escuela Digital*/
  display: block;
  padding: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 36px;
  margin-bottom: 30px; }

/* line 23, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/desarrollo */
.desarrollo .grupo {
  padding-top: 22px;
  background: #fff;
  margin-bottom: 10px; }

/* line 28, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/desarrollo */
.desarrollo .grupo .grupo {
  margin-bottom: 0;
  padding-bottom: 22px; }

/* line 32, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/desarrollo */
.desarrollo .grupo .caja {
  background: #eee;
  box-shadow: 0 0 0 1px steelblue inset;
  position: relative;
  padding-bottom: 22px; }

/* line 40, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/desarrollo */
.desarrollo .grupo .caja:after, .desarrollo .grupo:after {
  background: rgba(70, 130, 180, 0.3);
  content: attr(class);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: table;
  padding: 3px 5px;
  font-style: italic;
  font-size: 12px;
  width: 100%;
  color: #2A4E6C;
  height: 16px;
  line-height: 16px;
  /*border: 1px solid seagreen;*/ }

/* line 57, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/desarrollo */
.desarrollo .grupo:after {
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid steelblue;
  border-bottom: none; }

/* line 64, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/desarrollo */
.desarrollo .grupo .caja {
  background: #ccc; }

/* line 69, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/desarrollo */
body.desarrollo:before {
  content: "Tamaño base"; }

@media screen and (max-width: 479px) {
  /* line 75, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/desarrollo */
  body.desarrollo:before {
    content: "Tamaño movil, a partir de 480px"; }
 }

@media screen and (max-width: 767px) {
  /* line 75, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/desarrollo */
  body.desarrollo:before {
    content: "Tamaño tablet, a partir de 768px"; }
 }

@media screen and (max-width: 1023px) {
  /* line 75, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/desarrollo */
  body.desarrollo:before {
    content: "Tamaño web, a partir de 1024px"; }
 }

@media screen and (max-width: 1399px) {
  /* line 75, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/desarrollo */
  body.desarrollo:before {
    content: "Tamaño hd, a partir de 1400px"; }
 }

@media screen and (max-width: 479px) {
  /* line 8, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/visibilidad */
  .desde-movil {
    display: none; }
 }

@media screen and (min-width: 480px) {
  /* line 13, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/visibilidad */
  .desde-movil {
    display: block; }
 }

@media screen and (max-width: 767px) {
  /* line 8, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/visibilidad */
  .desde-tablet {
    display: none; }
 }

@media screen and (min-width: 768px) {
  /* line 13, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/visibilidad */
  .desde-tablet {
    display: block; }
 }

@media screen and (max-width: 1023px) {
  /* line 8, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/visibilidad */
  .desde-web {
    display: none; }
 }

@media screen and (min-width: 1024px) {
  /* line 13, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/visibilidad */
  .desde-web {
    display: block; }
 }

@media screen and (max-width: 1399px) {
  /* line 8, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/visibilidad */
  .desde-hd {
    display: none; }
 }

@media screen and (min-width: 1400px) {
  /* line 13, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/visibilidad */
  .desde-hd {
    display: block; }
 }

@media screen and (max-width: 479px) {
  /* line 22, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/visibilidad */
  .hasta-movil {
    display: block; }
 }

@media screen and (min-width: 480px) {
  /* line 27, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/visibilidad */
  .hasta-movil {
    display: none; }
 }

@media screen and (max-width: 767px) {
  /* line 22, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/visibilidad */
  .hasta-tablet {
    display: block; }
 }

@media screen and (min-width: 768px) {
  /* line 27, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/visibilidad */
  .hasta-tablet {
    display: none; }
 }

@media screen and (max-width: 1023px) {
  /* line 22, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/visibilidad */
  .hasta-web {
    display: block; }
 }

@media screen and (min-width: 1024px) {
  /* line 27, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/visibilidad */
  .hasta-web {
    display: none; }
 }

@media screen and (max-width: 1399px) {
  /* line 22, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/visibilidad */
  .hasta-hd {
    display: block; }
 }

@media screen and (min-width: 1400px) {
  /* line 27, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/visibilidad */
  .hasta-hd {
    display: none; }
 }

/*
	ESTILOS DE LAYOUT
	==================
*/
/* line 5, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/utilidades */
.centrar-caja {
  display: block;
  clear: both;
  float: none !important;
  margin: 0 auto !important; }

/* line 12, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/utilidades */
.centrar-texto {
  text-align: center; }

/* line 16, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/utilidades */
.derecha-texto {
  text-align: right; }

/* line 20, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/utilidades */
.left, .izquierda {
  float: left; }

/* line 24, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/utilidades */
.right, .derecha {
  float: right; }

/* 	NO PADDING
	===========
	class="no-padding" al grupo, le da padding cero a todas sus cajas.
	class="no-padding" a la caja le da padding cero solo a ella
*/
/* line 34, C:/Users/Álvaro/Desktop/ed-grid-sass/componentes/utilidades */
.no-padding.grupo .caja, .grupo > .no-padding {
  padding: 0 !important; }
