// Variables
	// Ancho máximo de cada grupo
		$grupo--max-width: 1200px;
	// Separación entre cajas
		$caja--separacion: 20px;
	// Tamaños. Puede editar los nombres y las
	// medidas, añadir más o quitar.
		$breakpoints: (
			movil  : 480px,
			tablet : 768px,
			web    : 1025px,
			hd     : 1400px
			);
	// Fracciones para los anchos de las cajas.
	// También puede editarlos si desea
		$fracciones: (
			tercios: 3,
			sextos: 6,
			octavos: 8
			);

// Componentes ED GRID
	@import "componentes/base";
	@import "componentes/grid";
	@import "componentes/desarrollo";
	@import "componentes/visibilidad";
	@import "componentes/utilidades";