extends ../../config/template
append config
  -title = "EDgrid | Botones (Sass/CSS)"
  -description = "Desarrollo de botones de manera rapida, incluyendo clases para personalizarlo."
  -active = 'Botones (Sass/CSS)'
  -docsMenu = true

block main
    main(itemscope itemprop="mainContentOfPage" role="main")
      include:markdown-it(html) ../../../md/docs/botones.md
