extends ../../config/template
append config
  -title = "EDgrid | Helpers (CSS/Sass)"
  -description = "Los helpers son ayudas al trabajo que fueron llamadas utilidades en la versión anterior de ed-grid. Se pueden usar con CSS (cssHelpers) o Sass. Alineación de elementos. Se aplica al mismo elemento que se quiere alinear (no a su contenedor). Tenga en cuenta que se usa float y se requiere declarar un ancho para que funcione bien. Puede declarar anchos usando clases al igual que con los ed-item."
  -ogUrl = "/documentacion/helpers.html"
  -docsMenu = true

block main
    main(itemscope itemprop="mainContentOfPage" role="main")
      include:markdown-it(html) /src/md/helpers.md
