extends ../../config/template
include ../../includes/banner
append config
  -title = "EDgrid | Documentación"
  -description = "Puede usar EDgrid con CSS y Sass."
  -ogUrl= "/documentacion"
  -docsMenu = true

  -img = "images/docs-banner.jpg"
  -title = "Documentación de EDgrid"
  -description = "EDgrid es muy fácil de aprender, en treinta minutos estará usándolo en sus proyectos."
  -clase = "secondary"
  -boton = ""
  -botonClass= ""
  -botonUrl=""
  -botonIco= ""
  -botonText =""
  -botones = ""

block banner
  +banner(img, title, description, clase, boton, botonClass, botonUrl, botonIco, botonText, botones)
block main
  main(itemscope itemprop="mainContentOfPage" role="main")
    :markdown-it
      # Comenzar con EDgrid
      EDgrid es una libreria CSS/Sass para construir layouts para web fácilmente.
