.main-features {
  @include grid('.main-feature', 1 2 3, 2rem);
  text-align : center;
  padding-top : 2rem;
  h2 {
    margin-top : 1rem;
    font-size: fontSize(normal);
  }
}

.main-feature__img {
  width : 6rem;
  height : 6rem;
  overflow : hidden;
  margin : auto;

  img {
    width : 100%;
    height : 100%;
    object-fit: contain;
    object-position: center center;
  }

  .main-feature:first-child & {
    width : 12rem;
  }
}
