// VARIABLES ED GRID
	// Puede encontrar y modificar las variables de ED GRID
	// en librerias/ed-grid/_ed-grid.scss 


// VARIABLES PARA ED MENU
	$ed-menu--background         : $color1; //color de fondo del menu
	$ed-menu--color              : #fff; // color de los enlaces del menu
	$ed-menu--font-size          : .8rem; // tamaño de fuente (usar rem)
	$ed-menu--font-weight        : normal; // normal, bold
	$ed-menu--text-transform     : uppercase; // normal, uppercase, lowercase, capitalize
	$ed-menu--line-height        : 3rem; // Altura del menu en em, rem, px o numeros sin unidades.
	$ed-menu--hover              : rgba(#000,.4); // color de los items en hover
	$ed-menu--submenus           : darken($color1,10%); // color de fondo de los subniveles
	$ed-menu--subnivel-width     : 15em; //ancho de los submenus;
	$ed-menu--mostrar-menu-color : #fff; //color del boton mostrar menu en movil;


// VARIABLES DEL TEMA

	// PALETA DE COLOR
		$color1 : #0069B4;
		$color2 : #0C3158;
		$color3 : #535B65;
		$color4 : #222222;

	// ESTILOS BASE
		$body--background       : #fff; // fondo para el body
		$body--font-family      : sans-serif; // fuente predeterminada
		$body--font-color       : #333; // color de texto predeterminado

	// ESTILOS DE ENCABEZADOS
		$header--font-family    : sans-serif; // fuente para los headers (h1,h2,h3...)
		$header--font-weight    : bold; // grosor de fuente para los headers
		$header--text-transform : normal; // normal, uppercase, lowercase, capitalize
		$header--color          : $color1;

		$h1--font-size : 2em;
		$h2--font-size : 1.6em;
		$h3--font-size : 1.3em;
		$h4--font-size : 1em;
		$h5--font-size : .9em;
		$h6--font-size : .8em;

	// ESTIILOS DE ENLACES
		$link--color             : $color1;  // color para los enlaces

	// ESTILOS DE PÁRRAFOS
		$p--font-size   : .9em; // Tamaño de fuente
		$p--line-height : 1.6;  // Altura de línea
		$p--margin      : 1em // Separación entre un párrafo y el siguiente