extends ../config/template
append config
  -title = "EDgrid | Base (CSS/Sass)"
  -description = "Los estilos base normalizan los elementos HTML para Responsive Web Design."
  -ogUrl = "/base.html"

block main
  .ed-container.main-section
    include ../includes/docs-menu
    main(itemscope itemprop="mainContentOfPage" role="main").ed-item.l-75.main-main
      include:markdown-it(html) ../../md/docs/base.md
