extends ../config/template
include ../includes/banner
include ../includes/cards
append config
  -title = "Casos de éxito"
  -description = "Casos de éxito que se encuentran actualmente en producción y que utilizan la librería de EDgrid."
  -ogUrl = "/casos-exito.html"

  -img = "images/casos-de-exito-banner.jpg"
  -titleBanner = "Casos de Éxito"
  -descriptionBanner = "Proyectos que usan EDgrid en producción"

    //- Variables de los banners
  -clase = "tertiary"
  -boton = "si"
  -botonClass= "cta"
  -botonUrl="http://ed.team/contacto"
  -botonIco= ""
  -botonText ="Envía tu proyecto"
  -botones = ""

block main
  +banner(img, titleBanner, descriptionBanner, clase, boton, botonClass, botonUrl, botonIco, botonText, botones)
  main.main-section
    .ed-container
      .ed-item.cards-grid
        -for(var i = 0; i < casos.length ; i++)
          -var caso = casos[i]
          +card(caso.img, caso.title, caso.subtitle, caso.description, caso.url, caso.user, caso.imageUser, caso.linkUser)
