extends ../config/template
include ../includes/banner
include  ../includes/main-banner
include ../includes/feature-item
append config
  -title = "EDgrid - Libreria Sass/CSS de EDteam para construir layouts web responsive"
  -description = "Libreria Sass/CSS de EDteam para construir layouts web responsive"
  -ogUrl = "/index.html"

  -img = "/assets/img/docs-banner.jpg"
  -titleBanner = "EDgrid"
  -descriptionBanner = "Libreria Sass/CSS de EDteam para construir layouts web responsive"
  -clase = ""
  -boton = false
  -botonClass= ""
  -botonUrl=""
  -botonText =""
  -botones = true

block banner
  //+banner(img, titleBanner, descriptionBanner, clase, boton, botonClass, botonUrl, botonText, botones)
  +main-banner()
block main
  main
    .ed-grid
        h1.s-to-center.s-center.l-section El responsive web design <br/> nunca fue tan sencillo
        .main-features.ed-grid.m-grid-2.lg-grid-3.row-gap
          +main-feature("assets/img/logo/EDgrid-logo.svg", "¿Qué es?", "EDgrid es una libreria construida con Sass (y con versión CSS) para Responsive Web Design (RWD). Es muy ligero, personalizable y te permite prototipar y crear layouts en muy poco tiempo sin conflictos con tu proyecto.")
          +main-feature("assets/img/utils/layout.svg", "Solo Layout", "No añade botones, tipografías, colores ni otro estilo visual. Es layout puro para maquetar que no genera conflictos. Además EDgrid en su versión Sass compila solo el código necesario sin css extra.")
          +main-feature("assets/img/utils/help.svg", "Open Source", "Completamente gratuito y de código abierto (GPL2). Puede usarlo en proyectos comerciales, descargarlo y estudiar el código y crear sus propias versiones derivadas sin pagar una licencia.")
          +main-feature("assets/img/utils/grid.svg", "CSS Grid y Flexbox", "EDgrid usa las características más modernas de CSS: Flexbox y Grid. Además incluye fallbacks para Grid en navegadores que todavía no lo soporten.")
          +main-feature("assets/img/utils/rwd.svg", "Adiós columnas", "¿Cansado de las 12 columnas? Con EDgrid puedes crear layouts con completa libertad sin amarrarte a usar siempre doce columnas.")
          +main-feature("assets/img/utils/bug.svg", "Debug", "El modo dev se activa con una sola línea de código y te muestra la construcción del layout por debajo del capó. Así podrás corregir problemas con facilidad.")

