extends ../config/template
include ../includes/banner
append config
  -title = "EDgrid | Libreria CSS/Sass para construir layouts responsive"
  -description = "Libreria CSS/Sass para construir layouts responsive"
  -ogUrl = "/index.html"

  -img = "images/docs-banner.jpg"
  -titleBanner = "EDgrid"
  -Bannerdescription = "Libreria CSS/Sass para construir layouts responsive"
  -clase = ""
  -boton = ""
  -botonClass= ""
  -botonUrl=""
  -botonIco= ""
  -botonText =""
  -botones = "si"

block main 
  +banner(img, titleBanner, Bannerdescription, clase, boton, botonClass, botonUrl, botonIco, botonText, botones)

  main
    .ed-container
      .ed-item
        h2.section-title.center El responsive web design nunca fue tan sencillo
        .main-features
          .main-feature
            .main-feature__img
                img(src="images/EDgrid-logo.svg")
            h2 ¿Qué es?
            p EDgrid es una libreria construida con Sass (y con versión CSS) para Responsive Web Design (RWD). Es muy ligero, personalizable y te permite prototipar y crear layouts en muy poco tiempo sin conflictos con tu proyecto.

          .main-feature
            .main-feature__img
              img(src="images/rwd.svg")
            h2 Solo RWD
            p No añade botones, tipografías, colores ni otro estilo visual. Es RWD puro para maquetar que no genera conflictos. Además EDgrid en su versión Sass compila solo el código necesario sin css extra.

          .main-feature
            .main-feature__img
              img(src="images/open-source.svg")
            h2 Open Source
            p Completamente gratuito y de código abierto (GPL2). Puede usarlo en proyectos comerciales, descargarlo y estudiar el código y crear sus propias versiones derivadas sin pagar una licencia.

          .main-feature
            .main-feature__img
              img(src="images/grid-flexbox.svg")
            h2 CSS Grid y Flexbox
            p EDgrid usa las características más modernas de CSS: Flexbox y Grid. Además incluye fallbacks para Grid en navegadores que todavía no lo soporten.

          .main-feature
            .main-feature__img
              img(src="images/columnas.svg")
            h2 Adiós columnas
            p ¿Cansado de las 12 columnas? Con EDgrid puedes crear layouts con completa libertad sin amarrarte a usar siempre doce columnas.

          .main-feature
            .main-feature__img
              img(src="images/dev.svg")
            h2 Debug
            p El modo dev se activa con una sola línea de código y te muestra la construcción del layout por debajo del capó. Así podrás corregir problemas con facilidad.
