extends ../config/template
append config
  -title = "EDgrid | Sass"
  -description = "Si va a trabajar con Sass, tenga en cuenta que como se explicó aquí, ed-grid genera dos grupos de código css: cssCore no recomendado si va a trabajar con Sass (desactivado por defecto para Sass) cssHelpers recomendado si va a trabajar con Sass (activado por defecto para Sass, puede desactivarlo si es un usuario avanzado) Para activar o desactivar estos componentes redefina las variables $cssCore y $cssHelpers antes de importar ed-grid."
  -ogUrl= "/sass.html"

block main
  .ed-container.main-section
    include ../includes/docs-menu
    main(itemscope itemprop="mainContentOfPage" role="main").ed-item.l-75.main-main
      include:markdown-it(html) ../../md/docs/sass.md
