- var title = "EDgrid | Inicio"
- var description = "Descripcion de la pagina"
- var ogUrl = "index.html"
- let docsMenu = false

- var img = ""
- var title = ""
- var description = ""
- var clase = ""
- var boton = ""
- var botones = ""
