// Mixin menu horizontal básico
@mixin ed-menuh(        
	$fondo         : #eee,  		// Color de fondo del menu
	$color         : initial,		// Color de los enlaces
	$hover         : rgba(#000,.1),	// Color de fondo para el hover de los items
	$altura        : 2.5em,			// Altura del menu (de los items)
	$separacion    : 3em,			// Separación entre los enlaces del menu
	$ancho-submenu : 10em			// Ancho de los submenus
	) {
		display: table;
		background: $fondo;
		&, ul, li {
				list-style: none;
				margin: 0;
				padding: 0;
		}
		li {
				position: relative;
				&:hover {
						background: $hover;
						a {
							text-decoration: none !important;
						}
				}
		}
		// Items del menu
		> li {
				float: left;
				// Submenu de segundo nivel
				> ul {
						top: 100%;
						left: 0;
						// Submenu de tercer nivel en adelante
						ul {
								top: 0;
								left: 100%;
						}
				}
				// Preparar animación de submenus
				li {
						max-height: 0;
						overflow: hidden;
						transition: all .3s;
				}
		}
		//Mostrar el submenu
		li:hover > ul > li {
				max-height: $altura;
				overflow: visible;
		}
		// Links del menu
		a {
				color: $color;
				line-height: $altura;
				display: block;
				padding: 0 ($separacion / 2);
				text-decoration: none;
		}
		// Segundo y tercer nivel
			 ul {
				background: $fondo;
				position: absolute;
				width: $ancho-submenu;
				z-index: 50; // evita que los submenus se oculten
		}
}

// Mixin menu vertical básico
@mixin ed-menuv(        
	$fondo   : #eee,			// Color de fondo del menu
	$color   : initial,			// Color de los enlaces
	$hover   : rgba(#000,.1),	// Color de fondo en hover para los items
	$altura  : 2.5em,			// Altura de los items del menu
	$padding : 1.5em,			// Padding de los enlaces
	$ancho-submenu   : 10em 			// Ancho del menu (y los submenus)
	) {
		background: $fondo;
		display: table;
		&, ul, li {
				list-style: none;
				margin: 0;
				padding: 0;
		}
		li {
				position: relative;
				&:hover {
						background: $hover;
						> ul > li {
								max-height: $altura;
								overflow: visible;
						}
						a {
							text-decoration: none !important;
						}
				}
		}
		// Submenus
		ul {
				background: $fondo;
				position: absolute;
				top: 0;
				left: 100%;
				width: $ancho-submenu;
				li {			
						max-height: 0;
						overflow: hidden;
						transition: all .3s;
				}
		}
		a {
				color: $color;
				line-height: $altura;
				display: block;
				padding: 0 $padding;
				text-decoration: none;
		}
}