/*
	GRUPOS Y CAJAS
	==============
	Los grupos son contenedores para las cajas.
	Las cajas crean las divisiones en el grupo (columnas)
*/
.grupo {
	position   : relative;
	max-width  : $grupo--max-width;
	margin     : 0 auto;
    width      : 100%;

	&.total {
		max-width : 100% !important;
	}

    //Limpiar el float de los grupos
	&:before, &:after {
		content : "";
		display : table;
		width   : 100%;
		clear   : both;
	}

	.caja {
		float         : left;
		margin        : 0;
		padding-left  : ($caja--separacion / 2);
		padding-right : ($caja--separacion / 2);
        width         : 100%;
		
		&:last-child{
			float : right;
		}
	}

	.caja.total {
		float   : none;
		width   : 100%;

        //Limpiar la caja total
		&:before, &:after {
			content : "";
			display : table;
			width   : 100%;
			clear   : both;
		}
	}
}


// Breakpoints
@each $size, $screen-size in $breakpoints{
	/*#{$size}: A partir de #{$screen-size}*/
	@media all and (min-width: $screen-size){
		/*Tamaños en porcentajes*/
		@for $i from 1 through 20 {
			.#{$size}-#{$i*5},
            .grupo .caja.#{$size}-#{$i*5}{
				width: unquote($i*5 + "%");
			}
		}
		/*Tamaño en fracciones*/
		@each $fraccion-nombre, $fraccion in $fracciones{
			@for $i from 1 through $fraccion{
				.#{$size}-#{$i}-#{$fraccion},
                .grupo .caja.#{$size}-#{$i}-#{$fraccion}{
					width: (100% / $fraccion) * $i; 
				}
			}
		}
	}
}