// movil-tabla, tablet-tabla, web-tabla, hd-tabla
@each $size, $screen-size in $breakpoints{
	@media all and (min-width: $screen-size){
		.grupo.#{$size}-tabla{
			display: table;

			& > .caja {
				float   : none;
				display : table-cell;
			}

            &.medio > .caja {
                vertical-align: middle;
            }

            &.arriba > .caja {
                vertical-align: top;
            }

            &.abajo > .caja {
                vertical-align: bottom;
            }
		}
	}
}

.caja.medio {			
    vertical-align: middle;
}

.caja.arriba {
    vertical-align: top;
}

.caja.abajo {
    vertical-align: bottom;
}