/*
	ESTILOS DE LAYOUT
	==================
*/
.centro, .centrar {
	display: block;
	clear: both;
	float: none !important;
	margin-right: auto !important;
    margin-left: auto !important;
}

.left, .izquierda {
	float: left;
}

.right, .derecha {
	float: right;
}

.total {
    width: 100%;
    clear: both;
}

.centrar-texto,
.centrar-contenido,
.centro-contenido{
	text-align: center;
}

.izquierda-texto,
.izquierda-contenido {
	text-align: left ;
}

.derecha-texto,
.derecha-contenido {
	text-align: right;
}

.circulo {
    border-radius: 50%;
}

.limpiar {
    &:before, &:after {
        content: "";
        display: table;
        width: 100%;
        clear: both;
    }
}

/* 	NO PADDING
	===========
	class="no-padding" al grupo, le da padding cero a todas sus cajas.
	class="no-padding" a la caja le da padding cero solo a ella
*/
.no-padding.grupo > .caja,
.caja.no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* Controlar el padding*/
.padding {
	padding-left: ($caja--separacion / 2);
	padding-right: ($caja--separacion / 2);
}

.padding-2 {
	padding-left: $caja--separacion;
	padding-right: $caja--separacion;
}
.padding-3 {
	padding-left: $caja--separacion * 1.5;
	padding-right: $caja--separacion * 1.5;
}

// Hacks para alinear icon fonts
[class^="icon-"]:before,
[class*=" icon-"]:before {
    position: relative;
    top: .15em;
    display: inline-block
}

.espacio:before {
    margin-right: .3em;
}