// VARIABLES ED GRID
	// Puede encontrar y modificar las variables de ED GRID
	// en librerias/ed-grid/_ed-grid.scss 

// VARIABLES DEL TEMA

	// PALETA DE COLOR
		$color1 : #EBEBEB;  // Gris claro
		$color2 : #43484A;  // Gris oscuro
		$color3 : #255474;  // Azul links
		$color4 : #222222;  // Texto

	// ESTILOS BASE
		$body--background  : #fff; // fondo para el body
		$body--font-family : sans-serif; // fuente predeterminada
		$body--color       : #333; // color de texto predeterminado

	// ESTILOS DE ENCABEZADOS
		$header--font-family    : sans-serif; // fuente para los headers (h1,h2,h3...)
		$header--font-weight    : bold; // grosor de fuente para los headers
		$header--text-transform : normal; // normal, uppercase, lowercase, capitalize
		$header--color          : #222;

		$h1--font-size : 2em;
		$h2--font-size : 1.6em;
		$h3--font-size : 1.3em;
		$h4--font-size : 1em;
		$h5--font-size : .9em;
		$h6--font-size : .8em;

	// ESTIILOS DE ENLACES
		$link--color : blue;  // color para los enlaces

	// ESTILOS DE PÁRRAFOS
		$p--font-size   : 1em; // Tamaño de fuente
		$p--line-height : 1.5;  // Altura de línea
		$p--margin      : 1em; // Separación entre un párrafo y el siguiente