// Estilos generales
	.ed-menu {
		// El menú limpia los floats y define su ancho por el contenido
		display : table;

		&, & ul, li {
			// Reset básico a los ul para generar los menus
			list-style : none;
			margin     : 0;
			padding    : 0;
		}

		li {
			// Reset básico a los li para generar los items
			position   : relative;
			transition : all .3s;
		}

		a,span {
			// Reset básico a los "a" para generar los inks
			// Se incluye span por si se quiere un placeholder y no un link
			display         : block;
			text-decoration : none;
		}


		&.horizontal ul {
			position: absolute;
		}
	
		
	}

// Niveles y animacion del menu horizontal desde web (por debajo es vertical)
	@include desde(web){
		.ed-menu.horizontal {
			// Primer nivel
			> li{
				float      : left;
				text-align : center;
			}

			// Segundo nivel
			> li > ul {
				// Posicionamiento del menu
				position   : absolute;
				top        : 100%;
				left       : 0;
				// Previene que se oculte el submenu al salir del hover del padre:
				z-index    : 100; 
				// Regresar a la izquierda los items
				text-align : left;
			}

			// Tercer nivel
			ul ul {
				position : absolute;
				left     : 100%;
				top      : 0;
			}

			// Desplegar submenu con animacion
			ul li {
				// Ocultar menu y preparar animacion
				max-height: 0;
				overflow: hidden;
				transition: all .3s;
			}

			li:hover > ul > li {
				//Mostrar el submenu
				max-height: 100px;
				overflow: visible;
			}

			// Con la clase "flechas" en "ed-menu" se añaden flechas a los padres
			&.flechas {
				.padre:after {
					content:"";
					width: 0;
					height: 0;
					display: block;

					opacity: .5;

					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: .5em;
				}

				& > .padre {

					&:after {
						border-top: .4rem solid #fff;
						border-left: .3rem solid transparent;
						border-right: .3rem solid transparent;
					}

					.padre:after {
						border-left: .4rem solid #fff;
						border-top: .3rem solid transparent;
						border-bottom: .3rem solid transparent;
					}		
				}	
			}
		}
	}

// Mixin mspenu horizontal básico
@mixin menu-horizontal($height){
	list-style: none;
	margin: 0;
	padding: 0;
	display: table;

	li {
		float: left;
		margin: 0;
		padding: 0;

		a {
			line-height: $height;
			display: block;
		}
	}
}


// Mixin mspenu vertical básico
@mixin menu-vertical($height-items,$width){
	list-style: none;
	margin: 0;
	padding: 0;
	display: table;
	width: $width;

	li {
		margin: 0;
		padding: 0;

		a {
			line-height: $height-items;
			display: block;
		}
	}
}

// Mixin botón mostrar menu
@mixin mostrar-menu($color,$font-size){
	&:before{
		content      : "";
		cursor       : pointer;
		display      : inline-block;
		width        : $font-size*1.6;
		height       : $font-size;
		margin-right : .5em;
		position     : relative;
		top          : .1em;
		background   : linear-gradient(
	                   $color 25%,
	                   transparent 25%,
	                   transparent 37%,
	                   $color 37%,
	                   $color 62%,
	                   transparent 62%,
	                   transparent 75%,
	                   $color 75%
			          );
	}
}

// Mixin boton cerrar menu
@mixin cerrar-menu($color,$font-size){
	&:before{
		content       : "";
		cursor        : pointer;
		display       : inline-block;
		border-radius : 50%;
		width         : $font-size;
		height        : $font-size;
		background    : linear-gradient(
					    -45deg,
					     transparent 45%,
					     $color 45%,
					     $color 55%,
					     transparent 55%
					     ),
					     linear-gradient(
					     45deg,
					     transparent 45%,
					     $color 45%,
					     $color 55%,
					     transparent 55%
					   );
    }
}