// RWD Bases
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}