// Código en línea
:not(pre) code {
  @include small;
  font-family : Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  background  : var(--color-light);
  border      : 1px solid var(--color-border);
  color: var(--third-color);
  padding     : 0 .25em;
  margin      : 0 .1em;
  word-break  : break-all;
}
