extends ../../config/template
include ../../includes/banner
append config
  -title = "EDgrid | Créditos"
  -description = "Créditos de quien realizo la librería, colaboro desarrollando el portal."
  -ogUrl = "/creditos.html"

  -img = "/assets/img/docs-banner.jpg"
  -titleBanner = "Créditos"
  -descriptionBanner = "Colaboradores de EDgrid"
  -clase = "dark-color"
  -boton = false
  -botonClass= ""
  -botonUrl=""
  -botonText =""
  -botones = false

block banner
  +banner(img, titleBanner, descriptionBanner, clase, boton, botonClass, botonUrl, botonText, botones)
block main
  main.ed-grid.lg-grid-6
    .lg-cols-4.lg-x-2
      ul.data-list
        li
          p
            span.strong Álvaro Felipe
            br
            span.small CEO de EDteam
          a(href="https://github.com/escueladigital" itemprop="url" target="_blank").button--tertiary.small.icon-github.space.space Ver Github
        li
          p
            span.strong Carlos Cuatin
            br
            span.small Frontend & Mobile Apps Developer
          a(href="https://github.com/carloscuatin" itemprop="url" target="_blank").button--tertiary.small.icon-github.space.space Ver Github
        li
          p
            span.strong Camilo Rodríguez
            br
            span.small Web developer
          a(href="https://github.com/aeroxmotion" itemprop="url" target="_blank").button--tertiary.small.icon-github.space.space Ver Github
        li
          p
            span.strong Daniel Romero
            br
            span.small EDteam
          a(href="https://github.com/danielromeroauk" itemprop="url" target="_blank").button--tertiary.small.icon-github.space.space Ver Github
        li
          p
            span.strong Franco Correa
            br
            span.small Web (Python – JS) & iOS Developer.
          a(href="https://github.com/francocorreasosa" itemprop="url" target="_blank").button--tertiary.small.icon-github.space.space Ver Github
        li
          p
            span.strong Ernesto Graterol
          a(href="https://github.com/Revod" itemprop="url" target="_blank").button--tertiary.small.icon-github.space.space Ver Github
        li
          p
            span.strong W-A-P
          a(href="https://github.com/W-A-P" itemprop="url" target="_blank").button--tertiary.small.icon-github.space.space Ver Github
        li
          p
            span.strong Jose Daniel Posso Garcia
            br
            span.small Programador
          a(href="https://github.com/daniel7byte" itemprop="url" target="_blank").button--tertiary.small.icon-github.space.space Ver Github
        li
          p
            span.strong Alex Andrei
            br
            span.small Frontend developer
          a(href="https://github.com/AlexAndrei04" itemprop="url" target="_blank").button--tertiary.small.icon-github.space.space Ver Github
        li
          p
            span.strong Johelyn Cordova
            br
            span.small Diseñadora web
          a(href="https://github.com/AKUmajinn" itemprop="url" target="_blank").button--tertiary.small.icon-github.space.space Ver Github
