// Use este archivo para escribir los estilos de la página de documentación
$legacy: false;
@import "ed-grid";
@import "~edteam-style-guides/edteam-style-guides";
/*
  This boilerplate is based in ITCSS and SMACSS
*/
//@import "../../node_modules/edteam-style-guides/edteam-style-guides";
// Config
//@import "web-styles/config/functions";
//@import "web-styles/config/variables";
//@import "web-styles/config/mixins";
// libraries
@import "web-styles/libraries/prism";
// Base and elements (generic)
//@import "web-styles/base/base";
// LAYOUT
// Escribe solo los estilos de layout (division en regiones del viewport)
@import "web-styles/layout/layout";
// MODULOS (SMACSS) O COMPONENTES (ITCSS)
// Son los elementos de UI de tu interfaz, como botones, tablas, menus, etc.
// Crea los archivos adicionales que necesites (uno por componente)
@import "web-styles/components/buttons";
@import "web-styles/components/menus";
@import "web-styles/components/demo";
@import "web-styles/components/menu-responsive";
// Theme (colors and fonts)
//@import "web-styles/theme/typography";
//@import "web-styles/theme/footer";
//@import "web-styles/theme/banner";
//@import "web-styles/theme/icons";
@import "web-styles/components/main-features";
// Utilities (hacks)
// Todos los hacks que hayas necesitado para solucionar conflictos
// o resolver situaciones extremas. Se espera poder mejorarlos luego.
@import "web-styles/hacks/hacks";
