doctype html
html(lang="es")
	head
		title 
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1,maximun-scale=1")
		link(rel="stylesheet", type="text/css", href="tema/css/estilos.css")
		script(src="http://code.jquery.com/jquery-1.11.2.min.js")
		script(src="tema/js/scripts.js")
	body
		